# Project 2
For project 2, we built an ETL pipeline to create a database containing data on Phish live shows from 1993-2023. First, we scrapped the website phish.net for setlists and the Wikipedia page for Phish concert tours and festivals for attendance and box office data. We then transformed the extracted data, reformatting columns, value formatting, and dropping rows that lacked useful data. We stored all of the results for each year in a variable, which were in turn each stored in a list. To load our data, we converted each variable to a DataFrame and then wrote the DataFrames to CSV files. Finally, we loaded the data from the CSV files directly to SQLite and PostgreSQL. There are many interesting questions that can be explored when analyzing the database we have prepared. For example, we could look at how City and Year affect Attendance and Attendance/Capacity. We could count the recurrence of previous Cities and weigh Attendance and Gross to create a predictive model to determine the likeliest cities to be announced for future show dates.

In [1]:
#from splinter import Browser
#from bs4 import BeautifulSoup as soup
from datetime import datetime
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
import shutil
from pathlib import Path
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import psycopg2

## Part 1: Extract
#### Scrapping for Data

In [2]:
#browser = Browser('chrome')

In [3]:
# Pull in setlist data

url = 'https://phish.net/setlists/phish/'
#browser.visit(url)
#html = browser.html
#phish_soup = soup(html, 'html.parser')
respons = requests.get(url)

phish_soup = BeautifulSoup(respons.text, 'html.parser')

In [4]:
# Pull in concert attendance and box office data

url2 = 'https://en.wikipedia.org/wiki/Phish_concert_tours_and_festivals#Box_office_score_data'
#browser.visit(url2)
#html2 = browser.html
#tour_soup = soup(html2, 'html.parser')

respons = requests.get(url)

tour_soup = BeautifulSoup(respons.text, 'html.parser')

In [5]:
# pd.read_html for the win!

table_dfs = pd.read_html('https://en.wikipedia.org/wiki/Phish_concert_tours_and_festivals#Box_office_score_data')
money_dfs = []

for table_df in table_dfs:
    if table_df.columns[-1] == 'Gross':
        money_dfs.append(table_df)
money_dfs

[   Date (1993)                      City                 Venue  \
 0       May 29    Salinas, United States   Laguna Seca Raceway
 1       May 30    Salinas, United States   Laguna Seca Raceway
 2  December 31  Worcester, United States  Centrum in Worcester
 3        TOTAL                     TOTAL                 TOTAL

                Attendance     Gross
 0         20,000 / 20,000  $504,082
 1         20,000 / 20,000  $504,082
 2         14,581 / 14,581  $320,220
 3  34,581 / 34,581 (100%)  $824,302  ,
    Date (1994)                          City  \
 0  December 28   Philadelphia, United States
 1  December 29     Providence, United States
 2  December 30  New York City, United States
 3  December 31         Boston, United States
 4        TOTAL                         TOTAL

                                            Venue              Attendance  \
 0  Philadelphia Convention Hall and Civic Center         10,325 / 10,325
 1                        Providence Civic Center         14,174 / 14,174
 2                          Madison Square Garden         18,977 / 18,977
 3                                  Boston Garden         15,135 / 15,135
 4                                          TOTAL  58,611 / 58,611 (100%)

         Gross
 0    $201,338
 1    $272,532
 2    $426,978
 3    $355,673
 4  $1,256,521  ,
     Date (1995)                          City  \
 0       June 23       Stanhope, United States
 1       June 28        Wantagh, United States
 2       June 29        Wantagh, United States
 3    October 31       Rosemont, United States
 4    November 9        Atlanta, United States
 5   November 10        Atlanta, United States
 6   November 11        Atlanta, United States
 7   November 24     Pittsburgh, United States
 8   November 25        Hampton, United States
 9    December 4        Amherst, United States
 10   December 5        Amherst, United States
 11  December 15   Philadelphia, United States
 12  December 28      Worcester, United States
 13  December 29      Worcester, United States
 14  December 30  New York City, United States
 15  December 31  New York City, United States
 16        TOTAL                         TOTAL

                                  Venue               Attendance       Gross
 0                     Waterloo Village          16,643 / 16,643    $377,400
 1             Jones Beach Amphitheater          22,110 / 22,110    $487,475
 2             Jones Beach Amphitheater          22,110 / 22,110    $487,475
 3                     Rosemont Horizon          18,311 / 18,311    $411,998
 4                          Fox Theatre          13,547 / 13,547    $304,808
 5                          Fox Theatre          13,547 / 13,547    $304,808
 6                          Fox Theatre          13,547 / 13,547    $304,808
 7                          Civic Arena          10,669 / 18,742    $213,380
 8                     Hampton Coliseum          12,903 / 12,903    $260,976
 9   William D. Mullins Memorial Center          21,018 / 21,018    $420,360
 10  William D. Mullins Memorial Center          21,018 / 21,018    $420,360
 11                 CoreStates Spectrum          18,220 / 18,220    $412,200
 12                Centrum in Worcester          28,924 / 28,924    $679,714
 13                Centrum in Worcester          28,924 / 28,924    $679,714
 14               Madison Square Garden          36,504 / 36,504  $1,004,275
 15               Madison Square Garden          36,504 / 36,504  $1,004,275
 16                               TOTAL  198,849 / 206,922 (96%)  $4,572,586  ,
     Date (1996)                          City                       Venue  \
 0      August 4       Morrison, United States      Red Rocks Amphitheatre
 1      August 5       Morrison, United States      Red Rocks Amphitheatre
 2      August 6       Morrison, United States      Red Rocks Amphitheatre
 3      August 7       Morrison, United States      Red Rocks Amphitheatre
 4     August 12    Noblesville, United States     Deer Creek Music Center
 5     August 13    Noblesville, United States     Deer Creek Music Center
 6     August 14        Hershey, United States         Hersheypark Stadium
 7     August 16    Plattsburgh, United States  Plattsburgh Air Force Base
 8     August 17    Plattsburgh, United States  Plattsburgh Air Force Base
 9    October 21  New York City, United States       Madison Square Garden
 10   October 22  New York City, United States       Madison Square Garden
 11   October 26      Charlotte, United States          Charlotte Coliseum
 12   November 9   Auburn Hills, United States  The Palace of Auburn Hills
 13  November 15      St. Louis, United States                 Kiel Center
 14  December 28   Philadelphia, United States         CoreStates Spectrum
 15  December 29   Philadelphia, United States         CoreStates Spectrum
 16  December 30         Boston, United States                 FleetCenter
 17  December 31         Boston, United States                 FleetCenter
 18        TOTAL                         TOTAL                       TOTAL

                  Attendance       Gross
 0           36,962 / 36,962    $924,050
 1           36,962 / 36,962    $924,050
 2           36,962 / 36,962    $924,050
 3           36,962 / 36,962    $924,050
 4           42,158 / 42,158    $851,865
 5           42,158 / 42,158    $851,865
 6           25,100 / 25,100    $619,100
 7         135,267 / 135,267  $3,310,245
 8         135,267 / 135,267  $3,310,245
 9           34,204 / 34,204    $857,744
 10          34,204 / 34,204    $857,744
 11          17,580 / 17,580    $391,996
 12          18,359 / 18,359    $414,770
 13          14,492 / 18,000    $286,374
 14          36,648 / 36,648    $917,604
 15          36,648 / 36,648    $917,604
 16          36,968 / 36,968  $1,016,860
 17          36,968 / 36,968  $1,016,860
 18  397,738 / 401,246 (99%)  $9,590,608  ,
     Date (1998)                           City  \
 0       July 21  Virginia Beach, United States
 1      August 2          George, United States
 2      August 3          George, United States
 3      August 9       East Troy, United States
 4     August 10     Noblesville, United States
 5     August 11     Noblesville, United States
 6     August 16       Limestone, United States
 7     August 17       Limestone, United States
 8   December 29   New York City, United States
 9   December 30   New York City, United States
 10  December 31   New York City, United States
 11        TOTAL                          TOTAL

                               Venue               Attendance       Gross
 0   GTE Virginia Beach Amphitheatre          20,074 / 20,074    $486,775
 1            The Gorge Amphitheatre          37,871 / 40,000  $1,023,129
 2            The Gorge Amphitheatre          37,871 / 40,000  $1,023,129
 3       Alpine Valley Music Theatre          34,642 / 34,642    $866,202
 4           Deer Creek Music Center          41,782 / 41,782  $1,044,762
 5           Deer Creek Music Center          41,782 / 41,782  $1,044,762
 6             Loring Air Force Base        123,176 / 123,176  $4,337,184
 7             Loring Air Force Base        123,176 / 123,176  $4,337,184
 8             Madison Square Garden          56,704 / 56,704  $1,583,886
 9             Madison Square Garden          56,704 / 56,704  $1,583,886
 10            Madison Square Garden          56,704 / 56,704  $1,583,886
 11                            TOTAL  314,249 / 316,378 (99%)  $9,341,938  ,
     Date (1998)                          City  \
 0       April 2      Uniondale, United States
 1       April 3      Uniondale, United States
 2       July 16         George, United States
 3       July 17         George, United States
 4      August 2    Noblesville, United States
 5      August 3    Noblesville, United States
 6     August 15      Limestone, United States
 7     August 16      Limestone, United States
 8    October 30      Las Vegas, United States
 9    October 31      Las Vegas, United States
 10   November 4         Denver, United States
 11   November 6        Madison, United States
 12   November 7        Chicago, United States
 13   November 8        Chicago, United States
 14   November 9        Chicago, United States
 15  November 20        Hampton, United States
 16  November 21        Hampton, United States
 17  December 28  New York City, United States
 18  December 29  New York City, United States
 19  December 30  New York City, United States
 20  December 31  New York City, United States
 21        TOTAL                         TOTAL

                                 Venue               Attendance        Gross
 0   Nassau Veterans Memorial Coliseum          34,348 / 34,348     $824,328
 1   Nassau Veterans Memorial Coliseum          34,348 / 34,348     $824,328
 2              The Gorge Amphitheatre          31,544 / 40,000     $854,900
 3              The Gorge Amphitheatre          31,544 / 40,000     $854,900
 4             Deer Creek Music Center          42,158 / 42,158   $1,092,811
 5             Deer Creek Music Center          42,158 / 42,158   $1,092,811
 6               Loring Air Force Base        105,836 / 105,836   $4,012,715
 7               Loring Air Force Base        105,836 / 105,836   $4,012,715
 8                Thomas & Mack Center          35,635 / 35,635     $935,485
 9                Thomas & Mack Center          35,635 / 35,635     $935,485
 10             McNichols Sports Arena          13,826 / 13,826     $327,916
 11                        Kohl Center          16,906 / 16,906     $363,889
 12                       UIC Pavilion          30,161 / 30,161     $754,723
 13                       UIC Pavilion          30,161 / 30,161     $754,723
 14                       UIC Pavilion          30,161 / 30,161     $754,723
 15                   Hampton Coliseum          27,335 / 27,335     $642,658
 16                   Hampton Coliseum          27,335 / 27,335     $642,658
 17              Madison Square Garden          73,824 / 73,824   $2,047,576
 18              Madison Square Garden          73,824 / 73,824   $2,047,576
 19              Madison Square Garden          73,824 / 73,824   $2,047,576
 20              Madison Square Garden          73,824 / 73,824   $2,047,576
 21                              TOTAL  411,573 / 420,029 (98%)  $11,857,001  ,
      Date (1999)                         City  \
 0         July 3       Atlanta, United States
 1         July 4       Atlanta, United States
 2        July 17        Volney, United States
 3        July 18        Volney, United States
 4        July 25   Noblesville, United States
 5        July 26   Noblesville, United States
 6   September 10        George, United States
 7   September 11        George, United States
 8      October 3      Rosemont, United States
 9      October 7     Uniondale, United States
 10     October 8     Uniondale, United States
 11     October 9        Albany, United States
 12    October 10        Albany, United States
 13    December 7      Portland, United States
 14    December 8      Portland, United States
 15   December 10  Philadelphia, United States
 16   December 11  Philadelphia, United States
 17   December 17       Hampton, United States
 18   December 18       Hampton, United States
 19   December 30     Clewiston, United States
 20   December 31     Clewiston, United States
 21         TOTAL                        TOTAL

                                 Venue               Attendance        Gross
 0               Lakewood Amphitheatre          37,822 / 37,822   $1,057,431
 1               Lakewood Amphitheatre          37,822 / 37,822   $1,057,431
 2               Oswego County Airport        101,172 / 101,172   $3,839,730
 3               Oswego County Airport        101,172 / 101,172   $3,839,730
 4             Deer Creek Music Center          41,553 / 41,553   $1,101,155
 5             Deer Creek Music Center          41,553 / 41,553   $1,101,155
 6              The Gorge Amphitheatre          29,383 / 40,000     $849,713
 7              The Gorge Amphitheatre          29,383 / 40,000     $849,713
 8                      Allstate Arena          17,963 / 17,963     $495,065
 9   Nassau Veterans Memorial Coliseum          30,977 / 36,016     $772,341
 10  Nassau Veterans Memorial Coliseum          30,977 / 36,016     $772,341
 11                        Pepsi Arena          33,842 / 33,842     $807,730
 12                        Pepsi Arena          33,842 / 33,842     $807,730
 13     Cumberland County Civic Center          17,437 / 17,437     $462,081
 14     Cumberland County Civic Center          17,437 / 17,437     $462,081
 15               First Union Spectrum          36,843 / 36,843     $976,412
 16               First Union Spectrum          36,843 / 36,843     $976,412
 17                   Hampton Coliseum          27,600 / 27,600     $676,325
 18                   Hampton Coliseum          27,600 / 27,600     $676,325
 19     Big Cypress Indian Reservation          75,000 / 75,000  $11,639,550
 20     Big Cypress Indian Reservation          75,000 / 75,000  $11,639,550
 21                              TOTAL  449,592 / 465,248 (97%)  $22,677,533  ,
     Date (2000)                        City                    Venue  \
 0       July 10  Noblesville, United States  Deer Creek Music Center
 1       July 11  Noblesville, United States  Deer Creek Music Center
 2       July 12  Noblesville, United States  Deer Creek Music Center
 3  September 15      Hershey, United States      Hersheypark Stadium
 4  September 22     Rosemont, United States           Allstate Arena
 5  September 23     Rosemont, United States           Allstate Arena
 6  September 29    Las Vegas, United States     Thomas & Mack Center
 7  September 30    Las Vegas, United States     Thomas & Mack Center
 8         TOTAL                       TOTAL                    TOTAL

                 Attendance       Gross
 0          74,212 / 74,212  $2,040,888
 1          74,212 / 74,212  $2,040,888
 2          74,212 / 74,212  $2,040,888
 3          30,034 / 30,034    $847,505
 4          36,447 / 36,447  $1,011,582
 5          36,447 / 36,447  $1,011,582
 6          35,585 / 36,500    $978,588
 7          35,585 / 36,500    $978,588
 8  176,278 / 177,193 (99%)  $4,878,563  ,
                     Date (2002)                          City  \
 0  2002/2003 New Year's Eve Run  2002/2003 New Year's Eve Run
 1                   December 31                 New York City

                         Country                         Venue  \
 0  2002/2003 New Year's Eve Run  2002/2003 New Year's Eve Run
 1                 United States         Madison Square Garden

                      Attendance                         Gross
 0  2002/2003 New Year's Eve Run  2002/2003 New Year's Eve Run
 1               18,966 / 18,966                      $824,940  ,
                                           Date (2003)  \
 0   2002/2003 New Year's Eve Run (continued from 2...
 1                                           January 2
 2                                           January 3
 3                                           January 4
 4                                         Winter 2003
 5                                         February 14
 6                                         February 15
 7                                         February 16
 8                                         February 18
 9                                         February 20
 10                                        February 21
 11                                        February 22
 12                                        February 24
 13                                        February 25
 14                                        February 26
 15                                        February 28
 16                                            March 1
 17                                        Summer 2003
 18                                             July 7
 19                                             July 8
 20                                             July 9
 21                                            July 10
 22                                            July 12
 23                                            July 13
 24                                            July 15
 25                                            July 17
 26                                            July 18
 27                                            July 19
 28                                            July 21
 29                                            July 22
 30                                            July 23
 31                                            July 25
 32                                            July 26
 33                                            July 27
 34                                            July 29
 35                                            July 30
 36                                            July 31
 37                                                 It
 38                                           August 2
 39                                           August 3
 40                          2003 20th Anniversary Run
 41                                        November 28
 42                                        November 29
 43                                         December 1
 44                                         December 2
 45                            2003 New Year's Eve Run
 46                                        December 28
 47                                        December 29
 48                                        December 30
 49                                        December 31
 50                                              TOTAL

                                                  City  \
 0   2002/2003 New Year's Eve Run (continued from 2...
 1                                             Hampton
 2                                             Hampton
 3                                             Hampton
 4                                         Winter 2003
 5                                           Inglewood
 6                                           Las Vegas
 7                                           Las Vegas
 8                                              Denver
 9                                            Rosemont
 10                                         Cincinnati
 11                                         Cincinnati
 12                                    East Rutherford
 13                                       Philadelphia
 14                                          Worcester
 15                                          Uniondale
 16                                         Greensboro
 17                                        Summer 2003
 18                                            Phoenix
 19                                        Chula Vista
 20                                      Mountain View
 21                                      Mountain View
 22                                             George
 23                                             George
 24                                   West Valley City
 25                                     Bonner Springs
 26                                          East Troy
 27                                          East Troy
 28                                        Noblesville
 29                                        Noblesville
 30                                        Noblesville
 31                                          Charlotte
 32                                            Atlanta
 33                                            Raleigh
 34                                       Burgettstown
 35                                             Camden
 36                                             Camden
 37                                                 It
 38                                          Limestone

In [6]:
money_dfs[4]

,Date (1998),City,Venue,Attendance,Gross
0,July 21,"Virginia Beach, United States",GTE Virginia Beach Amphitheatre,"20,074 / 20,074","$486,775"
1,August 2,"George, United States",The Gorge Amphitheatre,"37,871 / 40,000","$1,023,129"
2,August 3,"George, United States",The Gorge Amphitheatre,"37,871 / 40,000","$1,023,129"
3,August 9,"East Troy, United States",Alpine Valley Music Theatre,"34,642 / 34,642","$866,202"
4,August 10,"Noblesville, United States",Deer Creek Music Center,"41,782 / 41,782","$1,044,762"
5,August 11,"Noblesville, United States",Deer Creek Music Center,"41,782 / 41,782","$1,044,762"
6,August 16,"Limestone, United States",Loring Air Force Base,"123,176 / 123,176","$4,337,184"
7,August 17,"Limestone, United States",Loring Air Force Base,"123,176 / 123,176","$4,337,184"
8,December 29,"New York City, United States",Madison Square Garden,"56,704 / 56,704","$1,583,886"
9,December 30,"New York City, United States",Madison Square Garden,"56,704 / 56,704","$1,583,886"
10,December 31,"New York City, United States",Madison Square Garden,"56,704 / 56,704","$1,583,886"
11,TOTAL,TOTAL,TOTAL,"314,249 / 316,378 (99%)","$9,341,938"

Now we begin scraping the setlist data!

In [7]:
dates = phish_soup.find_all('span', class_='setlist-date')
dates

date_strings = [date.text[-11:] for date in dates]

cleaned_date_strings = [date.strip() for date in date_strings]
cleaned_date_strings[0:5]

['09/03/2023', '09/02/2023', '09/01/2023', '08/31/2023', '08/26/2023']

In [8]:
dates

[<span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-03-2023-dicks-sporting-goods-park-commerce-city-co-usa.html">SUNDAY 09/03/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-02-2023-dicks-sporting-goods-park-commerce-city-co-usa.html">SATURDAY 09/02/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-01-2023-dicks-sporting-goods-park-commerce-city-co-usa.html">FRIDAY 09/01/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-31-2023-dicks-sporting-goods-park-commerce-city-co-usa.html">THURSDAY 08/31/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-26-2023-broadview-stage-at-spac-saratoga-springs-ny-usa.html">SATURDAY 08/26/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-25-2023-broadview-stage-at-spac-saratoga-springs-ny-usa.html">FRIDAY 08/25/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-05-2023-madison-square-garden-new-york-ny-usa.html">SATURDAY 08/05/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-04-2023-madison-square-garden-new-york-ny-usa.html">FRIDAY 08/04/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-02-2023-madison-square-garden-new-york-ny-usa.html">WEDNESDAY 08/02/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-01-2023-madison-square-garden-new-york-ny-usa.html">TUESDAY 08/01/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-30-2023-madison-square-garden-new-york-ny-usa.html">SUNDAY 07/30/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-29-2023-madison-square-garden-new-york-ny-usa.html">SATURDAY 07/29/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-28-2023-madison-square-garden-new-york-ny-usa.html">FRIDAY 07/28/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-26-2023-td-pavilion-at-the-mann-philadelphia-pa-usa.html">WEDNESDAY 07/26/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-25-2023-td-pavilion-at-the-mann-philadelphia-pa-usa.html">TUESDAY 07/25/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-23-2023-st-josephs-health-amphitheater-at-lakeview-syracuse-ny-usa.html">SUNDAY 07/23/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-22-2023-the-pavilion-at-star-lake-burgettstown-pa-usa.html">SATURDAY 07/22/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-21-2023-the-pavilion-at-star-lake-burgettstown-pa-usa.html">FRIDAY 07/21/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-19-2023-live-oak-bank-pavilion-at-riverfront-park-wilmington-nc-usa.html">WEDNESDAY 07/19/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-18-2023-live-oak-bank-pavilion-at-riverfront-park-wilmington-nc-usa.html">TUESDAY 07/18/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-16-2023-ameris-bank-amphitheatre-alpharetta-ga-usa.html">SUNDAY 07/16/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-15-2023-ameris-bank-amphitheatre-alpharetta-ga-usa.html">SATURDAY 07/15/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-14-2023-ameris-bank-amphitheatre-alpharetta-ga-usa.html">FRIDAY 07/14/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-12-2023-orion-amphitheater-huntsville-al-usa.html">WEDNESDAY 07/12/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-11-2023-orion-amphitheater-huntsville-al-usa.html">TUESDAY 07/11/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-23-2023-hollywood-bowl-hollywood-ca-usa.html">SUNDAY 04/23/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-22-2023-hollywood-bowl-hollywood-ca-usa.html">SATURDAY 04/22/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-21-2023-hollywood-bowl-hollywood-ca-usa-2.html">FRIDAY 04/21/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-19-2023-william-randolph-hearst-greek-theatre-university-of-california-berkeley-berkeley-ca-usa.html">WEDNESDAY 04/19/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-18-2023-william-randolph-hearst-greek-theatre-university-of-california-berkeley-berkeley-ca-usa.html">TUESDAY 04/18/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-17-2023-william-randolph-hearst-greek-theatre-university-of-california-berkeley-berkeley-ca-usa.html">MONDAY 04/17/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-15-2023-climate-pledge-arena-seattle-wa-usa.html">SATURDAY 04/15/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-14-2023-climate-pledge-arena-seattle-wa-usa.html">FRIDAY 04/14/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-26-2023-moon-palace-cancun-quintana-roo-mexico.html">SUNDAY 02/26/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-25-2023-moon-palace-cancun-quintana-roo-mexico.html">SATURDAY 02/25/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-24-2023-moon-palace-cancun-quintana-roo-mexico.html">FRIDAY 02/24/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-23-2023-moon-palace-cancun-quintana-roo-mexico.html">THURSDAY 02/23/2023</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-december-31-2022-madison-square-garden-new-york-ny-usa.html">SATURDAY 12/31/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-december-30-2022-madison-square-garden-new-york-ny-usa.html">FRIDAY 12/30/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-december-29-2022-madison-square-garden-new-york-ny-usa.html">THURSDAY 12/29/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-december-28-2022-madison-square-garden-new-york-ny-usa.html">WEDNESDAY 12/28/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-04-2022-dicks-sporting-goods-park-commerce-city-co-usa.html">SUNDAY 09/04/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-03-2022-dicks-sporting-goods-park-commerce-city-co-usa.html">SATURDAY 09/03/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-02-2022-dicks-sporting-goods-park-commerce-city-co-usa.html">FRIDAY 09/02/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-september-01-2022-dicks-sporting-goods-park-commerce-city-co-usa.html">THURSDAY 09/01/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-14-2022-alpine-valley-music-theatre-east-troy-wi-usa.html">SUNDAY 08/14/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-13-2022-alpine-valley-music-theatre-east-troy-wi-usa.html">SATURDAY 08/13/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-12-2022-alpine-valley-music-theatre-east-troy-wi-usa.html">FRIDAY 08/12/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-10-2022-budweiser-stage-toronto-ontario-canada.html">WEDNESDAY 08/10/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-07-2022-atlantic-city-beach-atlantic-city-nj-usa.html">SUNDAY 08/07/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-06-2022-atlantic-city-beach-atlantic-city-nj-usa.html">SATURDAY 08/06/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-05-2022-atlantic-city-beach-atlantic-city-nj-usa.html">FRIDAY 08/05/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-03-2022-pine-knob-music-theatre-clarkston-mi-usa.html">WEDNESDAY 08/03/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-august-02-2022-blossom-music-center-cuyahoga-falls-oh-usa.html">TUESDAY 08/02/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-31-2022-merriweather-post-pavilion-columbia-md-usa.html">SUNDAY 07/31/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-30-2022-merriweather-post-pavilion-columbia-md-usa.html">SATURDAY 07/30/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-29-2022-coastal-credit-union-music-park-at-walnut-creek-raleigh-nc-usa.html">FRIDAY 07/29/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-27-2022-northwell-health-at-jones-beach-theater-wantagh-ny-usa.html">WEDNESDAY 07/27/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-26-2022-northwell-health-at-jones-beach-theater-wantagh-ny-usa.html">TUESDAY 07/26/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-24-2022-xfinity-theatre-hartford-ct-usa.html">SUNDAY 07/24/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-23-2022-bethel-woods-center-for-the-arts-bethel-ny-usa.html">SATURDAY 07/23/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-22-2022-bethel-woods-center-for-the-arts-bethel-ny-usa.html">FRIDAY 07/22/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-20-2022-td-pavilion-at-the-mann-philadelphia-pa-usa.html">WEDNESDAY 07/20/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-19-2022-td-pavilion-at-the-mann-philadelphia-pa-usa.html">TUESDAY 07/19/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-16-2022-maine-savings-amphitheater-bangor-me-usa.html">SATURDAY 07/16/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-15-2022-xfinity-center-mansfield-ma-usa.html">FRIDAY 07/15/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-july-14-2022-xfinity-center-mansfield-ma-usa.html">THURSDAY 07/14/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-june-05-2022-ruoff-music-center-noblesville-in-usa.html">SUNDAY 06/05/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-june-04-2022-ruoff-music-center-noblesville-in-usa.html">SATURDAY 06/04/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-june-03-2022-ruoff-music-center-noblesville-in-usa.html">FRIDAY 06/03/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-june-01-2022-credit-one-stadium-charleston-sc-usa.html">WEDNESDAY 06/01/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-may-31-2022-credit-one-stadium-charleston-sc-usa.html">TUESDAY 05/31/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-may-29-2022-the-wharf-amphitheater-orange-beach-al-usa.html">SUNDAY 05/29/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-may-28-2022-the-wharf-amphitheater-orange-beach-al-usa.html">SATURDAY 05/28/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-may-27-2022-the-wharf-amphitheater-orange-beach-al-usa.html">FRIDAY 05/27/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-23-2022-madison-square-garden-new-york-ny-usa.html">SATURDAY 04/23/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-22-2022-madison-square-garden-new-york-ny-usa.html">FRIDAY 04/22/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-21-2022-madison-square-garden-new-york-ny-usa.html">THURSDAY 04/21/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-april-20-2022-madison-square-garden-new-york-ny-usa.html">WEDNESDAY 04/20/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-27-2022-moon-palace-cancun-quintana-roo-mexico.html">SUNDAY 02/27/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-26-2022-moon-palace-cancun-quintana-roo-mexico.html">SATURDAY 02/26/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-25-2022-moon-palace-cancun-quintana-roo-mexico.html">FRIDAY 02/25/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-24-2022-moon-palace-cancun-quintana-roo-mexico.html">THURSDAY 02/24/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-february-23-2022-moon-palace-cancun-quintana-roo-mexico.html">WEDNESDAY 02/23/2022</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-december-31-2021-rock-lititz-lititz-pa-usa.html">FRIDAY 12/31/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-31-2021-mgm-grand-garden-arena-las-vegas-nv-usa.html">SUNDAY 10/31/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-30-2021-mgm-grand-garden-arena-las-vegas-nv-usa.html">SATURDAY 10/30/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-29-2021-mgm-grand-garden-arena-las-vegas-nv-usa.html">FRIDAY 10/29/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-28-2021-mgm-grand-garden-arena-las-vegas-nv-usa.html">THURSDAY 10/28/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-26-2021-santa-barbara-bowl-santa-barbara-ca-usa.html">TUESDAY 10/26/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-24-2021-the-forum-inglewood-ca-usa.html">SUNDAY 10/24/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-23-2021-north-island-credit-union-amphitheatre-chula-vista-ca-usa.html">SATURDAY 10/23/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-22-2021-ak-chin-pavilion-phoenix-az-usa.html">FRIDAY 10/22/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-20-2021-matthew-knight-arena-eugene-or-usa.html">WEDNESDAY 10/20/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-19-2021-matthew-knight-arena-eugene-or-usa.html">TUESDAY 10/19/2021</a>
 </span>,
 <span class="setlist-date">
 <a href="/setlists/phish">PHISH</a>,
 	<a href="https://phish.net/setlists/phish-october-17-2021-chase-center-san-francisco-ca-usa.html">SUNDAY 10/17/2021</a>
 </span>,
 <span class="setlist-date">

In [9]:
venues = phish_soup.find_all('div', class_='setlist-venue')
venues

venue_strings = [venue.text.strip() for venue in venues]
venue_strings[0:5]

["DICK'S SPORTING GOODS PARK",
 "DICK'S SPORTING GOODS PARK",
 "DICK'S SPORTING GOODS PARK",
 "DICK'S SPORTING GOODS PARK",
 'BROADVIEW STAGE AT SPAC']

In [10]:
locations = phish_soup.find_all('div', class_='setlist-location')
locations

locations = [location.text.strip() for location in locations]

cities = [location.split(',')[0] for location in locations]
states = [location[-2:] for location in locations]

print(cities[0:5])
print(states[0:5])

['Commerce City', 'Commerce City', 'Commerce City', 'Commerce City', 'Saratoga Springs']
['CO', 'CO', 'CO', 'CO', 'NY']

In [11]:
set_list_notes = phish_soup.find_all('div', class_='setlist-notes')
set_list_notes

[<div class="setlist-notes"><br/>
 	This show started late and consisted of only one set due to a lengthy weather delay.</div>,
 <div class="setlist-notes"><br/>
 	Reba did not contain the whistling ending. Chalk Dust was unfinished. Mike teased Merrily We Roll Along after the soundcheck's Fast Enough for You.</div>,
 <div class="setlist-notes"><br/>
 	Page teased In the Mood after the soundcheck's second Ether Edge.</div>,
 <div class="setlist-notes"><br/>
 	Trey dedicated Carini to Frenchie (Tim Gazaille), a fan who had passed away earlier in the year and was the "naked guy" during the rain delay at Dick's the previous summer. Trey teased San-Ho-Zay in Halley's Comet. Blaze On's lyrics were changed to "we'll be dancing here at Dick's." We Are Come To Outlive Our Brains was performed for the first time since August 6, 2021 (109 shows).</div>,
 <div class="setlist-notes"><br/>
 	This performance was a benefit for Vermont and Upstate New York flood recovery efforts. Down with Disease was unfinished. Golden Age through Possum featured Derek Trucks on guitar. Trey teased If I Only Had a Brain in Everything's Right.</div>,
 <div class="setlist-notes"><br/>
 	This performance was a benefit for Vermont and Upstate New York flood recovery efforts and was a free webcast with all proceeds via donation going to those efforts. Coinciding with the 84th anniversary of <em>The Wizard of Oz</em> being released in the United States on the date of this show, Trey teased We Welcome You to Munchkinland (or It Really Was No Miracle) several times in Sand as well as at the end of Chalk Dust Torture, Fish wore his hair with a single pigtail sticking out of the front of his head like a munchkin for the second set, and We Welcome You to Munchkinland was the postshow music. Trey also teased Dave's Energy Guide in Sand.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased The Secret of Life (The Dead Milkmen) in Divided Sky. In NICU, Trey asked Page to "Play it slowly for us, Leo!" Guy Forget was played for the first time since September 4, 2011 (425 shows). The second Tweezer included a Frankenstein tease from Trey. Everything's Right had quotes of Manteca by Fish and teases of Tweezer.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of Back in the Bubble. Halley's Comet's lyrics were changed to "central part of New York City." Trey teased We're Off to See the Wizard in Roggae and Nellie Kane in Crosseyed.</div>,
 <div class="setlist-notes"><br/>
 	Page and Trey teased Frankenstein in It's Ice. Cavern was played in a slower, funkier manner than usual. Trey quoted The Well in The Howling. Frankenstein was played for the first time since December 7, 2019 (120 shows) and featured Page on keytar. Slave's lyrics were changed to "see the greatest city."</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of Broken Into Pieces and the first Sanity since August 6, 2021 (103 shows). Fish quoted The Well in Wolfman's Brother. Kill Devil Falls was unfinished.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the debut of Life Saving Gun. AC/DC Bag was unfinished and My Friend My Friend did not contain the "Myfe" ending. After Llama, Trey said he wasn't sure if they had already played Llama (during the band's seven night residency at Madison Square Garden) and after Fish said they hadn't, Trey said "let's play it again!" and Llama was started again for a few seconds. Trey teased ...And Flew Away in Tube. Page teased Let's Spend the Night Together in Suzy Greenberg.</div>,
 <div class="setlist-notes"><br/>
 	Bug was dedicated to Jovi (who had joined Trey on stage to sing the song on June 20, 2022), who was in attendance. Trey teased Stash in The Wedge. Also Sprach Zarathustra was unfinished and included a Psycho Killer tease from Trey. Cracklin' Rosie was performed for the first time since July 6, 2012 (397 shows).</div>,
 <div class="setlist-notes"><br/>
 	Trey and Page teased Can't You Hear Me Knocking in A Wave of Hope. The lyrics in Cities were changed to "find the best city to live in" and "I found myself a city to live in."</div>,
 <div class="setlist-notes"><br/>
 	Fish teased I Am Hydrogen at the end of the first Mike's Song. The Moma Dance was unfinished. Backwards Down the Number Line was played for Chris Kuroda's birthday. Trey teased Set Your Soul Free in Carini.</div>,
 <div class="setlist-notes"><br/>
 	Bathtub Gin was unfinished.</div>,
 <div class="setlist-notes"><br/>
 	Happy Birthday was performed for Lisa Simpson (she had made Fish's "Syracuse colored" dress for the evening and was in attendance). Trey and Page teased That's All in Tweezer. Page teased Long Tall Glasses in Possum and Hold Your Head Up after I Didn't Know. The soundcheck's My Soul had Dog Log lyrics.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of Monsters. Page teased Taxman in Rock and Roll. In the soundcheck, Trey briefly worked on Sugar Shack in between the Clear Your Minds. A few seconds of Memories and Carolina were sung after the final full band Grind.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of Pillow Jets (previously known as On Pillow Jets when it debuted with the Trey Anastasio Trio a month earlier). Trey teased San-Ho-Zay in Maze. Page teased Eleanor Rigby in David Bowie and Ruby Waves. The soundcheck's My Soul contained a Monsters quote from a Trey. Trey teased Back on the Train and Divided Sky after the rest of the band left the stage during the soundcheck.</div>,
 <div class="setlist-notes"><br/>
 	This show was stopped in the middle of Scents and Subtle Sounds due to severe weather in the area.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of mercy. Happy Birthday was performed for the first time since June 25, 2016 (251 shows) and was for Jim Pollock. Trey and Mike teased Timber (Jerry the Mule) in Light. Trey mentioned Jim in Backwards Down the Number Line.  Suzy Greenberg contained The 9th Cube teases from Trey and Page and The Howling quotes from Trey.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debuts of The Well and The Night the Lights Went Out in Georgia (the latter and HYHU featuring Fish on guitar). You Enjoy Myself was played for a fan who had a shirt stating Phish had not played a YEM in Georgia in 20 years.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased The Lion Sleeps Tonight in the first Tweezer.</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of ...And Flew Away. Trey teased What's the Use? in Roggae. The Nile Song was teased as well as quoted (by Fish) in Prince Caspian. Trey teased San-Ho-Zay in Ruby Waves. My Friend, My Friend did not contain the "Myfe" ending</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of Ether Edge. Trey teased Super Bad in Free. Trey changed the first Alumni's lyrics to "no PhD."</div>,
 <div class="setlist-notes"><br/>
 	This show featured the Phish debut of Oblivion. The intro to Also Sprach Zarathustra featured Fish on Marimba Lumina. DWD was unfinished. Mike teased Moby Dick in Chalk Dust Torture.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased Super Bad in Wolfman's Brother.</div>,
 <div class="setlist-notes"><br/>
 	Chalk Dust Torture was unfinished. Trey teased Johnny B. Goode in Back on the Train.</div>,
 <div class="setlist-notes"><br/>
 	Down with Disease was unfinished. Blaze On's lyrics were changed to reference "Bowl."</div>,
 <div class="setlist-notes"><br/>
 	AC/DC Bag was unfinished. </div>,
 <div class="setlist-notes"><br/>
 	Kill Devil Falls, Fuego, and Light were unfinished. Mike teased Mercury in Fuego.</div>,
 <div class="setlist-notes"><br/>
 	The Curtain With was performed for the first time since June 30, 2019 (117 shows). During Carini, Trey mentioned Frenchie (Tim Gazaille), a fan who had passed away the previous day. Tweezer featured Fish on Marimba Lumina.</div>,
 <div class="setlist-notes"><br/>
 	Wolfman's Brother was unfinished. After Izabella, Trey said they had to play one by a local musician, Jimi Hendrix.</div>,
 <div class="setlist-notes"><br/>
 	My Friend My Friend did not contain the "Myfe" ending. Trey teased The Secret of Life (The Dead Milkmen) in A Wave of Hope.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased San-Ho-Zay in Wolfman's Brother. A lyric in Tube was changed from "fun" to "sun." Page teased the theme from <em>Speed Racer</em>  in YEM.</div>,
 <div class="setlist-notes"><br/>
 	Down with Disease was unfinished. Fee featured Trey on megaphone.</div>,
 <div class="setlist-notes"><br/>
 	Dinner and Movie was performed for the first time since August 4, 2017 (177 shows). Trey teased If I Only Had a Brain and Dave's Energy Guide in Ruby Waves. Chalk Dust Torture was unfinished. Mike and Trey teased Sundown in Bathtub Gin.</div>,
 <div class="setlist-notes"><br/>
 	Page teased The Little Drummer Boy in the first Tweezer. Trey teased Super Bad in Weekapaug. The second setbreak music was comprised of songs referencing past Phish New Year's Eve gags. Before the third set began, a barbershop quartet appeared with a singing telegram for Phish. The telegram said that at the stroke of midnight it would be 40 years for Phish and to make a wish. Trey wished he had a time machine so they could do it all again. A cube descended from overhead and a time machine was revealed near Mike.  The quartet activated the time machine and the cube played audio and video from past years of Phish. Dancers from various past new year's gags appeared on stage as well as a wombat (from October 31, 2013). The wombat broke the time machine and Ghost began with dancers and characters (like Father Time from December 31, 1999 and the Famous Mockingbird from December 31, 1992) continuing to appear from the band's past performances. Ghost featured Meatstick lyrics sung from the band as well as by dancers in different languages in a nod to December 31, 2010. The first Bohemian Rhapsody since December 31, 1996 (850 shows) featured the <em>Late Show</em>  Gospel Choir singing on risers behind the band and Ghost quotes from Page and the choir with subsequent lyrics changed to reference Ghost. The first Jungle Boogie since December 31, 2003 (544 shows) featured the BD Entertainment Marching Band marching band along with the choir. The marching band and choir were also featured in Wilson where a platform above Trey that had appeared for the entire New Year's run descended and the clone that had been lying on the platform rose and was revealed to be a Tom Hanks actor from <em>Cast Away</em>. Inflated Wilson volleyballs were then tossed into the crowd. Only the final verse was sung in Wilson which contained Jungle Boogie quotes and was unfinished. During Auld Lang Syne, Phish briefly stopped playing and ate cake in front of the stage while the marching band and choir continued to perform. Carini featured several dancers in "naked dude" costumes emerging from a birthday cake in front of the stage and dancing and running around with security trying to catch them. The Theme from <em>New York, New York</em> was performed for the first time since December 31, 1997 (772 shows) and featured the naked dude dancers performing a kickline in front of the stage while adding vocals and Trey changing the lyrics to "if I could be naked there." Page teased Tweezer in Caspian. Piper contained Crosseyed quotes. During Tweezer Reprise, the wombat ran and danced across the stage. The post show music was Goodbye Yellow Brick Road, which was a nod to Phish playing their 72nd show at Madison Square Garden, tying Elton John.</div>,
 <div class="setlist-notes"><br/>
 	Fluffhead was unfinished. Trey teased Dave's Energy Guide in Bathtub Gin. This show featured the Phish debut of hey stranger. Trey teased Heartbreaker in Ruby Waves.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased A Wave of Hope in Twist. Mike teased Plasma in Harry Hood.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased Mr. P.C. in David Bowie. Icculus was dedicated to PI (Phish's stage manager Paul Ingwersen who was retiring that night). PI was subsequently mentioned in Icculus. Trey referenced Icculus in Character Zero with "read the book!" quotes. The soundcheck's Jam was followed by In the Summertime and Right Place, Wrong Time quotes.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased There is a Mountain in Walls of the Cave and Sigma Oasis. Kill Devil Falls, Sigma Oasis, and Moma Dance were unfinished. Thunderhead was performed for the first time since December 1, 2003 (544 shows). Trey teased Thunderhead in Moma Dance. Fee featured Trey on megaphone.</div>,
 <div class="setlist-notes"><br/>
 	This show started late and consisted of only one set due to a lengthy delay following a thunderstorm. Carini's lyrics were changed to "at least he had some boots" in reference to streaker who ran out onto the field during the weather delay wearing only a pair of boots. Trey teased Nothing's Gonna Stop Us Now in Carini and Streets of Cairo during Tweezer.</div>,
 <div class="setlist-notes"><br/>
 	Sand and Down with Disease were unfinished.</div>,
 <div class="setlist-notes"><br/>
 	Gotta Jibboo was unfinished. Reba did not contain the whistling ending.  Trey whistled in the intro to the first Martian Monster and eventually joined Fish on drums. The Phish debut of Broken Heart Attack featured Fish on vacuum. The second Martian Monster featured Trey on drums, Fish on Marimba Lumina, and a David Bowie intro tease from Trey while on drums. The Possum intro featured Fish playing the drums with one hand with his other drumstick in the air and Trey quoting Broken Heart Attack.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased 1999 in Fluffhead and Taste and Crazy Train in Mr. Completely.</div>,
 <div class="setlist-notes"><br/>
 	Twist contained Clear Your Mind quotes. Ghost included a Fire (Ohio Players) tease from Trey and Ass Handed quotes. Page teased the theme from <em>Speed Racer</em> in The Lizards.</div>,
 <div class="setlist-notes"><br/>
 	Down with Disease was unfinished.</div>,
 <div class="setlist-notes"><br/>
 	Mike and Trey teased Sweet Emotion in Carini. Trey teased Mr. P.C. in YEM.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased Norwegian Wood in 555. Heavy Rotation was performed for the first time since July 22, 2015 (253 shows). Trey teased Under Pressure in Simple. During the soundcheck, Beth was briefly sung by Trey and Knuckle Bone Broth Avenue contained Shipwreck quotes as well as If I Only Had A Brain teases from Trey and Mike.</div>,
 <div class="setlist-notes"><br/>
 	Soul Planet contained a tease of Dave's Energy Guide from Trey and a tease of Dog Log from Mike. Trey teased Midnight Rider in the first Down with Disease and No Quarter in Ghost. Shipwreck was quoted in Sleeping Monkey. Mike teased Dave's Energy Guide in Free.</div>,
 <div class="setlist-notes"><br/>
 	Kill Devil Falls was unfinished. My Friend's ending did not contain the "Myfe" lyric. Trey teased Freeway Jam in Kill Devil Falls. Carini contained a full-band tease of Low Rider. Trey teased Thread in No Men In No Man's Land and San-Ho-Zay in Twist. Trey dedicated Bug to Jovi who was in attendance and had previously joined him on stage to sing the song earlier in the year during his solo acoustic performance in Grand Rapids. Due to the combination of an extended delay to the start of the show from lightning and a curfew for the venue, setbreak was canceled. </div>,
 <div class="setlist-notes"><br/>
 	Strawberry Fields Forever was performed for the first time since July 22, 2017 (168 shows). Fish quoted Strawberry Fields Forever in the YEM vocal jam and in the jam that followed. Trey teased Also Sprach Zarathustra at the end of Gin.</div>,
 <div class="setlist-notes"><br/>
 	Mike teased Twenty Years Later in Ghost. Mike and Trey teased Those Were the Days before Halley's Comet.</div>,
 <div class="setlist-notes"><br/>
 	Shafty was performed over the jam out of Halfway to the Moon. Mike teased Miss You (Rolling Stones) in Strawberry Letter 23 and Flash Light in Character Zero.</div>,
 <div class="setlist-notes"><br/>
 	Stash was unfinished. Carini contained Martian Monster quotes. Piper included <em>Odd Couple</em> theme teases from Trey and BBFCFM quotes. Trey teased Call to the Post in Wilson.</div>,
 <div class="setlist-notes"><br/>
 	DWD was unfinished.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased Mr. P.C. in Tube.</div>,
 <div class="setlist-notes"><br/>
 	Set Your Soul Free contained a short Crosseyed and Painless jam with quotes from Trey. Twist included an Oye Como Va tease from Trey and Crosseyed quotes from Trey and Mike. Trey played The Star-Spangled Banner in its entirety during Fire.</div>,
 <div class="setlist-notes"><br/>
 	Gumbo was unfinished and contained a Long Tall Glasses tease from Page.</div>,
 <div class="setlist-notes"><br/>
 	Runaway Jim contained a Nellie Kane tease by Trey. Kill Devil Falls was unfinished. David Bowie featured an In Memory of Elizabeth Reed tease by Trey.</div>,
 <div class="setlist-notes"><br/>
 	Space Oddity was played for the first time since July 28, 2017 (154 shows). The third Tweezer contained teases of Izabella and Cissy Strut. Trey teased Dave's Energy Guide in Piper.  Also Sprach Zarathustra included Space Oddity quotes and teases from Trey and Martian Monster quotes from Trey and Page. Trey quoted I'm Waiting for the Man in Character Zero. The soundcheck's Seven Below Jam was initially performed at a faster pace than normal before switching to a bluegrass style.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased Norwegian Wood in First Tube.</div>,
 <div class="setlist-notes"><br/>
 	Chalk Dust Torture was unfinished. Trey teased Dave's Energy Guide in Plasma and Tweezer Reprise in Weekapaug.</div>,
 <div class="setlist-notes"><br/>
 	The first Sand contained Crosseyed and Painless teases from Mike and an Albert tease from Trey. Mike teased Dueling Banjos in Slave to the Traffic Light.</div>,
 <div class="setlist-notes"><br/>
 	 Stealing Time From the Faulty Plan had an <em>Odd Couple</em> theme tease from Trey. This show included the first performance of the slow arrangement of Maze.</div>,
 <div class="setlist-notes"><br/>
 	Trey teased Happy Birthday in Boogie On Reggae Woman and Contact.</div>,
 <div class="setlist-notes"><br/>
 	Mike teased Do You Feel Like We Do before Dirt. Trey teased Prince Caspian near the end of Egg in a Hole. Piper contained Guy Forget teases and quotes from Page and Manteca teases from Trey. Nothing was last played on January 15, 2017 (158 shows). The Oh Kee Pa Ceremony was last played October 20, 2018 (108 shows). The soundcheck's My Soul had Guy Forget lyrics from Fish.</div>,
 <div class="setlist-notes"><br/>
 	My Friend My Friend did not contain the "Myfe" ending. Mike sung part of Passing Through in Light. Golgi's lyrics were changed to "I saw you with a barcode in your hand." Trey and Fish teased Mr. Completely in 46 Days. </div>,
 <div class="setlist-notes"><br/>
 	Trey teased San-Ho-Zay in Weekapaug Groove.</div>,
 <div class="setlist-notes"><br/>
 	My Mind's Got a Mind of its Own was performed for the first time since October 25, 2013 (285 shows). Page teased Frankenstein in The Final Hurrah. Fish teased Mr. Completely in Walk Away.</div>,
 <div class="setlist-notes"><br/>
 	Llama was performed in an alternate arrangement. Quadrophonic Toppling was performed for the first time since December 31, 1999 (604 shows). Mike teased Dueling Banjos in Chalk Dust Torture. During the soundcheck, Mike quoted Got My Mojo Working in the jam and Trey quoted My Shot after The Final Hurrah as well as Another Brick in the Wall Part 2 in Gumbo.</div>,
 <div class="setlist-notes"><br/>

In [12]:
phish_p1_df = pd.DataFrame({
    'Date': cleaned_date_strings,
    'Venue': venue_strings,
    'City': cities,
    'State': states
})
phish_p1_df[-5:]

          Date                 Venue           City State
93  10/20/2021  MATTHEW KNIGHT ARENA         Eugene    OR
94  10/19/2021  MATTHEW KNIGHT ARENA         Eugene    OR
95  10/17/2021          CHASE CENTER  San Francisco    CA
96  10/16/2021          CHASE CENTER  San Francisco    CA
97  10/15/2021       GOLDEN 1 CENTER     Sacramento    CA

## Part 2: Transform
#### Cleaning and Formatting Data

In [13]:
money_dfs_1993 = money_dfs[0]
money_dfs_1993['Gross'] = money_dfs_1993['Gross'].str.replace('$', '')
money_dfs_1993_split = money_dfs_1993['Attendance'].str.split('/', expand=True)

money_dfs_1993['Attendance'] = money_dfs_1993_split[0]
money_dfs_1993['Capacity'] = money_dfs_1993_split[1]

desired_column_order = ['Date (1993)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']

money_dfs_1993_reordered = money_dfs_1993[desired_column_order]


money_dfs_1993 = money_dfs_1993_reordered

money_dfs_1993['City'] = money_dfs_1993['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1993)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1993['Date (1993)'] = money_dfs_1993['Date (1993)'].apply(convert_date)

money_dfs_1993 = money_dfs_1993.drop(3)
money_dfs_1993 = money_dfs_1993.reset_index(drop=True)

money_dfs_1993 = money_dfs_1993.rename(columns={'Date (1993)': 'Date'})


money_dfs[0] = money_dfs_1993

money_dfs[0]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1125440238.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1993['Gross'] = money_dfs_1993['Gross'].str.replace('$', '')

         Date       City                 Venue Attendance Capacity    Gross
0  05/29/1993    Salinas   Laguna Seca Raceway    20,000    20,000  504,082
1  05/30/1993    Salinas   Laguna Seca Raceway    20,000    20,000  504,082
2  12/31/1993  Worcester  Centrum in Worcester    14,581    14,581  320,220

In [14]:
money_dfs_1994 = money_dfs[1]
money_dfs_1994['Gross'] = money_dfs_1994['Gross'].str.replace('$', '')

money_dfs_1994_split = money_dfs_1994['Attendance'].str.split('/', expand=True)
money_dfs_1994['Attendance'] = money_dfs_1994_split[0]
money_dfs_1994['Capacity'] = money_dfs_1994_split[1]

desired_column_order = ['Date (1994)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_1994_reordered = money_dfs_1994[desired_column_order]
money_dfs_1994 = money_dfs_1994_reordered

money_dfs_1994['City'] = money_dfs_1994['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1994)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1994['Date (1994)'] = money_dfs_1994['Date (1994)'].apply(convert_date)

money_dfs_1994 = money_dfs_1994.drop(4)
money_dfs_1994 = money_dfs_1994.reset_index(drop=True)

money_dfs_1994 = money_dfs_1994.rename(columns={'Date (1994)': 'Date'})


money_dfs[1] = money_dfs_1994

money_dfs[1]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2714110246.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1994['Gross'] = money_dfs_1994['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,12/28/1994,Philadelphia,Philadelphia Convention Hall and Civic Center,"10,325","10,325","201,338"
1,12/29/1994,Providence,Providence Civic Center,"14,174","14,174","272,532"
2,12/30/1994,New York City,Madison Square Garden,"18,977","18,977","426,978"
3,12/31/1994,Boston,Boston Garden,"15,135","15,135","355,673"

In [15]:
money_dfs_1995 = money_dfs[2]
money_dfs_1995['Gross'] = money_dfs_1995['Gross'].str.replace('$', '')

money_dfs_1995_split = money_dfs_1995['Attendance'].str.split('/', expand=True)
money_dfs_1995['Attendance'] = money_dfs_1995_split[0]
money_dfs_1995['Capacity'] = money_dfs_1995_split[1]

desired_column_order = ['Date (1995)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_1995_reordered = money_dfs_1995[desired_column_order]
money_dfs_1995 = money_dfs_1995_reordered

money_dfs_1995['City'] = money_dfs_1995['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1995)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1995['Date (1995)'] = money_dfs_1995['Date (1995)'].apply(convert_date)

money_dfs_1995 = money_dfs_1995.drop(16)
money_dfs_1995 = money_dfs_1995.reset_index(drop=True)

money_dfs_1995 = money_dfs_1995.rename(columns={'Date (1995)': 'Date'})


money_dfs[2] = money_dfs_1995

money_dfs[2]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1101046288.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1995['Gross'] = money_dfs_1995['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,06/23/1995,Stanhope,Waterloo Village,"16,643","16,643","377,400"
1,06/28/1995,Wantagh,Jones Beach Amphitheater,"22,110","22,110","487,475"
2,06/29/1995,Wantagh,Jones Beach Amphitheater,"22,110","22,110","487,475"
3,10/31/1995,Rosemont,Rosemont Horizon,"18,311","18,311","411,998"
4,11/09/1995,Atlanta,Fox Theatre,"13,547","13,547","304,808"
5,11/10/1995,Atlanta,Fox Theatre,"13,547","13,547","304,808"
6,11/11/1995,Atlanta,Fox Theatre,"13,547","13,547","304,808"
7,11/24/1995,Pittsburgh,Civic Arena,"10,669","18,742","213,380"
8,11/25/1995,Hampton,Hampton Coliseum,"12,903","12,903","260,976"
9,12/04/1995,Amherst,William D. Mullins Memorial Center,"21,018","21,018","420,360"
10,12/05/1995,Amherst,William D. Mullins Memorial Center,"21,018","21,018","420,360"
11,12/15/1995,Philadelphia,CoreStates Spectrum,"18,220","18,220","412,200"
12,12/28/1995,Worcester,Centrum in Worcester,"28,924","28,924","679,714"
13,12/29/1995,Worcester,Centrum in Worcester,"28,924","28,924","679,714"
14,12/30/1995,New York City,Madison Square Garden,"36,504","36,504","1,004,275"
15,12/31/1995,New York City,Madison Square Garden,"36,504","36,504","1,004,275"

In [16]:
money_dfs_1996 = money_dfs[3]
money_dfs_1996['Gross'] = money_dfs_1996['Gross'].str.replace('$', '')

money_dfs_1996_split = money_dfs_1996['Attendance'].str.split('/', expand=True)
money_dfs_1996['Attendance'] = money_dfs_1996_split[0]
money_dfs_1996['Capacity'] = money_dfs_1996_split[1]

desired_column_order = ['Date (1996)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_1996_reordered = money_dfs_1996[desired_column_order]
money_dfs_1996 = money_dfs_1996_reordered

money_dfs_1996['City'] = money_dfs_1996['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1996)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1996['Date (1996)'] = money_dfs_1996['Date (1996)'].apply(convert_date)

money_dfs_1996 = money_dfs_1996.drop(18)
money_dfs_1996 = money_dfs_1996.reset_index(drop=True)

money_dfs_1996 = money_dfs_1996.rename(columns={'Date (1996)': 'Date'})


money_dfs[3] = money_dfs_1996

money_dfs[3]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\694368135.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1996['Gross'] = money_dfs_1996['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,08/04/1996,Morrison,Red Rocks Amphitheatre,"36,962","36,962","924,050"
1,08/05/1996,Morrison,Red Rocks Amphitheatre,"36,962","36,962","924,050"
2,08/06/1996,Morrison,Red Rocks Amphitheatre,"36,962","36,962","924,050"
3,08/07/1996,Morrison,Red Rocks Amphitheatre,"36,962","36,962","924,050"
4,08/12/1996,Noblesville,Deer Creek Music Center,"42,158","42,158","851,865"
5,08/13/1996,Noblesville,Deer Creek Music Center,"42,158","42,158","851,865"
6,08/14/1996,Hershey,Hersheypark Stadium,"25,100","25,100","619,100"
7,08/16/1996,Plattsburgh,Plattsburgh Air Force Base,"135,267","135,267","3,310,245"
8,08/17/1996,Plattsburgh,Plattsburgh Air Force Base,"135,267","135,267","3,310,245"
9,10/21/1996,New York City,Madison Square Garden,"34,204","34,204","857,744"
10,10/22/1996,New York City,Madison Square Garden,"34,204","34,204","857,744"
11,10/26/1996,Charlotte,Charlotte Coliseum,"17,580","17,580","391,996"
12,11/09/1996,Auburn Hills,The Palace of Auburn Hills,"18,359","18,359","414,770"
13,11/15/1996,St. Louis,Kiel Center,"14,492","18,000","286,374"
14,12/28/1996,Philadelphia,CoreStates Spectrum,"36,648","36,648","917,604"
15,12/29/1996,Philadelphia,CoreStates Spectrum,"36,648","36,648","917,604"
16,12/30/1996,Boston,FleetCenter,"36,968","36,968","1,016,860"
17,12/31/1996,Boston,FleetCenter,"36,968","36,968","1,016,860"

In [17]:
money_dfs[4]

,Date (1998),City,Venue,Attendance,Gross
0,July 21,"Virginia Beach, United States",GTE Virginia Beach Amphitheatre,"20,074 / 20,074","$486,775"
1,August 2,"George, United States",The Gorge Amphitheatre,"37,871 / 40,000","$1,023,129"
2,August 3,"George, United States",The Gorge Amphitheatre,"37,871 / 40,000","$1,023,129"
3,August 9,"East Troy, United States",Alpine Valley Music Theatre,"34,642 / 34,642","$866,202"
4,August 10,"Noblesville, United States",Deer Creek Music Center,"41,782 / 41,782","$1,044,762"
5,August 11,"Noblesville, United States",Deer Creek Music Center,"41,782 / 41,782","$1,044,762"
6,August 16,"Limestone, United States",Loring Air Force Base,"123,176 / 123,176","$4,337,184"
7,August 17,"Limestone, United States",Loring Air Force Base,"123,176 / 123,176","$4,337,184"
8,December 29,"New York City, United States",Madison Square Garden,"56,704 / 56,704","$1,583,886"
9,December 30,"New York City, United States",Madison Square Garden,"56,704 / 56,704","$1,583,886"
10,December 31,"New York City, United States",Madison Square Garden,"56,704 / 56,704","$1,583,886"
11,TOTAL,TOTAL,TOTAL,"314,249 / 316,378 (99%)","$9,341,938"

In [18]:
money_dfs_1997 = money_dfs[4]
money_dfs_1997['Gross'] = money_dfs_1997['Gross'].str.replace('$', '')

money_dfs_1997_split = money_dfs_1997['Attendance'].str.split('/', expand=True)
money_dfs_1997['Attendance'] = money_dfs_1997_split[0]
money_dfs_1997['Capacity'] = money_dfs_1997_split[1]

desired_column_order = ['Date (1998)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_1997_reordered = money_dfs_1997[desired_column_order]
money_dfs_1997 = money_dfs_1997_reordered

money_dfs_1997['City'] = money_dfs_1997['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1997)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1997['Date (1998)'] = money_dfs_1997['Date (1998)'].apply(convert_date)

money_dfs_1997 = money_dfs_1997.drop(11)
money_dfs_1997 = money_dfs_1997.reset_index(drop=True)

money_dfs_1997 = money_dfs_1997.rename(columns={'Date (1998)': 'Date'})

money_dfs[4] = money_dfs_1997


money_dfs[4]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\4289652669.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1997['Gross'] = money_dfs_1997['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,07/21/1997,Virginia Beach,GTE Virginia Beach Amphitheatre,"20,074","20,074","486,775"
1,08/02/1997,George,The Gorge Amphitheatre,"37,871","40,000","1,023,129"
2,08/03/1997,George,The Gorge Amphitheatre,"37,871","40,000","1,023,129"
3,08/09/1997,East Troy,Alpine Valley Music Theatre,"34,642","34,642","866,202"
4,08/10/1997,Noblesville,Deer Creek Music Center,"41,782","41,782","1,044,762"
5,08/11/1997,Noblesville,Deer Creek Music Center,"41,782","41,782","1,044,762"
6,08/16/1997,Limestone,Loring Air Force Base,"123,176","123,176","4,337,184"
7,08/17/1997,Limestone,Loring Air Force Base,"123,176","123,176","4,337,184"
8,12/29/1997,New York City,Madison Square Garden,"56,704","56,704","1,583,886"
9,12/30/1997,New York City,Madison Square Garden,"56,704","56,704","1,583,886"
10,12/31/1997,New York City,Madison Square Garden,"56,704","56,704","1,583,886"

In [19]:
money_dfs_1998 = money_dfs[5]
money_dfs_1998['Gross'] = money_dfs_1998['Gross'].str.replace('$', '')

money_dfs_1998_split = money_dfs_1998['Attendance'].str.split('/', expand=True)
money_dfs_1998['Attendance'] = money_dfs_1998_split[0]
money_dfs_1998['Capacity'] = money_dfs_1998_split[1]

desired_column_order = ['Date (1998)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_1998_reordered = money_dfs_1998[desired_column_order]
money_dfs_1998 = money_dfs_1998_reordered

money_dfs_1998['City'] = money_dfs_1998['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1998)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1998['Date (1998)'] = money_dfs_1998['Date (1998)'].apply(convert_date)

money_dfs_1998 = money_dfs_1998.drop(21)
money_dfs_1998 = money_dfs_1998.reset_index(drop=True)

money_dfs_1998 = money_dfs_1998.rename(columns={'Date (1998)': 'Date'})


money_dfs[5] = money_dfs_1998


money_dfs[5]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2767326779.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1998['Gross'] = money_dfs_1998['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,04/02/1998,Uniondale,Nassau Veterans Memorial Coliseum,"34,348","34,348","824,328"
1,04/03/1998,Uniondale,Nassau Veterans Memorial Coliseum,"34,348","34,348","824,328"
2,07/16/1998,George,The Gorge Amphitheatre,"31,544","40,000","854,900"
3,07/17/1998,George,The Gorge Amphitheatre,"31,544","40,000","854,900"
4,08/02/1998,Noblesville,Deer Creek Music Center,"42,158","42,158","1,092,811"
5,08/03/1998,Noblesville,Deer Creek Music Center,"42,158","42,158","1,092,811"
6,08/15/1998,Limestone,Loring Air Force Base,"105,836","105,836","4,012,715"
7,08/16/1998,Limestone,Loring Air Force Base,"105,836","105,836","4,012,715"
8,10/30/1998,Las Vegas,Thomas & Mack Center,"35,635","35,635","935,485"
9,10/31/1998,Las Vegas,Thomas & Mack Center,"35,635","35,635","935,485"
10,11/04/1998,Denver,McNichols Sports Arena,"13,826","13,826","327,916"
11,11/06/1998,Madison,Kohl Center,"16,906","16,906","363,889"
12,11/07/1998,Chicago,UIC Pavilion,"30,161","30,161","754,723"
13,11/08/1998,Chicago,UIC Pavilion,"30,161","30,161","754,723"
14,11/09/1998,Chicago,UIC Pavilion,"30,161","30,161","754,723"
15,11/20/1998,Hampton,Hampton Coliseum,"27,335","27,335","642,658"
16,11/21/1998,Hampton,Hampton Coliseum,"27,335","27,335","642,658"
17,12/28/1998,New York City,Madison Square Garden,"73,824","73,824","2,047,576"
18,12/29/1998,New York City,Madison Square Garden,"73,824","73,824","2,047,576"
19,12/30/1998,New York City,Madison Square Garden,"73,824","73,824","2,047,576"
20,12/31/1998,New York City,Madison Square Garden,"73,824","73,824","2,047,576"

In [20]:
money_dfs_1999 = money_dfs[6]
money_dfs_1999['Gross'] = money_dfs_1999['Gross'].str.replace('$', '')

money_dfs_1999_split = money_dfs_1999['Attendance'].str.split('/', expand=True)
money_dfs_1999['Attendance'] = money_dfs_1999_split[0]
money_dfs_1999['Capacity'] = money_dfs_1999_split[1]

desired_column_order = ['Date (1999)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_1999_reordered = money_dfs_1999[desired_column_order]
money_dfs_1999 = money_dfs_1999_reordered

money_dfs_1999['City'] = money_dfs_1999['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=1999)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_1999['Date (1999)'] = money_dfs_1999['Date (1999)'].apply(convert_date)

money_dfs_1999 = money_dfs_1999.drop(21)
money_dfs_1999 = money_dfs_1999.reset_index(drop=True)

money_dfs_1999 = money_dfs_1999.rename(columns={'Date (1999)': 'Date'})


money_dfs[6] = money_dfs_1999


money_dfs[6]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2226398890.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_1999['Gross'] = money_dfs_1999['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,07/03/1999,Atlanta,Lakewood Amphitheatre,"37,822","37,822","1,057,431"
1,07/04/1999,Atlanta,Lakewood Amphitheatre,"37,822","37,822","1,057,431"
2,07/17/1999,Volney,Oswego County Airport,"101,172","101,172","3,839,730"
3,07/18/1999,Volney,Oswego County Airport,"101,172","101,172","3,839,730"
4,07/25/1999,Noblesville,Deer Creek Music Center,"41,553","41,553","1,101,155"
5,07/26/1999,Noblesville,Deer Creek Music Center,"41,553","41,553","1,101,155"
6,09/10/1999,George,The Gorge Amphitheatre,"29,383","40,000","849,713"
7,09/11/1999,George,The Gorge Amphitheatre,"29,383","40,000","849,713"
8,10/03/1999,Rosemont,Allstate Arena,"17,963","17,963","495,065"
9,10/07/1999,Uniondale,Nassau Veterans Memorial Coliseum,"30,977","36,016","772,341"
10,10/08/1999,Uniondale,Nassau Veterans Memorial Coliseum,"30,977","36,016","772,341"
11,10/09/1999,Albany,Pepsi Arena,"33,842","33,842","807,730"
12,10/10/1999,Albany,Pepsi Arena,"33,842","33,842","807,730"
13,12/07/1999,Portland,Cumberland County Civic Center,"17,437","17,437","462,081"
14,12/08/1999,Portland,Cumberland County Civic Center,"17,437","17,437","462,081"
15,12/10/1999,Philadelphia,First Union Spectrum,"36,843","36,843","976,412"
16,12/11/1999,Philadelphia,First Union Spectrum,"36,843","36,843","976,412"
17,12/17/1999,Hampton,Hampton Coliseum,"27,600","27,600","676,325"
18,12/18/1999,Hampton,Hampton Coliseum,"27,600","27,600","676,325"
19,12/30/1999,Clewiston,Big Cypress Indian Reservation,"75,000","75,000","11,639,550"
20,12/31/1999,Clewiston,Big Cypress Indian Reservation,"75,000","75,000","11,639,550"

In [21]:
money_dfs_2000 = money_dfs[7]
money_dfs_2000['Gross'] = money_dfs_2000['Gross'].str.replace('$', '')

money_dfs_2000_split = money_dfs_2000['Attendance'].str.split('/', expand=True)
money_dfs_2000['Attendance'] = money_dfs_2000_split[0]
money_dfs_2000['Capacity'] = money_dfs_2000_split[1]

desired_column_order = ['Date (2000)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2000_reordered = money_dfs_2000[desired_column_order]
money_dfs_2000 = money_dfs_2000_reordered

money_dfs_2000['City'] = money_dfs_2000['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2000)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2000['Date (2000)'] = money_dfs_2000['Date (2000)'].apply(convert_date)

money_dfs_2000 = money_dfs_2000.drop(8)
money_dfs_2000 = money_dfs_2000.reset_index(drop=True)

money_dfs_2000 = money_dfs_2000.rename(columns={'Date (2000)': 'Date'})


money_dfs[7] = money_dfs_2000


money_dfs[7]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1950261417.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2000['Gross'] = money_dfs_2000['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,07/10/2000,Noblesville,Deer Creek Music Center,"74,212","74,212","2,040,888"
1,07/11/2000,Noblesville,Deer Creek Music Center,"74,212","74,212","2,040,888"
2,07/12/2000,Noblesville,Deer Creek Music Center,"74,212","74,212","2,040,888"
3,09/15/2000,Hershey,Hersheypark Stadium,"30,034","30,034","847,505"
4,09/22/2000,Rosemont,Allstate Arena,"36,447","36,447","1,011,582"
5,09/23/2000,Rosemont,Allstate Arena,"36,447","36,447","1,011,582"
6,09/29/2000,Las Vegas,Thomas & Mack Center,"35,585","36,500","978,588"
7,09/30/2000,Las Vegas,Thomas & Mack Center,"35,585","36,500","978,588"

In [22]:
money_dfs_2002 = money_dfs[8]
money_dfs_2002['Gross'] = money_dfs_2002['Gross'].str.replace('$', '')

money_dfs_2002_split = money_dfs_2002['Attendance'].str.split('/', expand=True)
money_dfs_2002['Attendance'] = money_dfs_2002_split[0]
money_dfs_2002['Capacity'] = money_dfs_2002_split[1]

desired_column_order = ['Date (2002)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2002_reordered = money_dfs_2002[desired_column_order]
money_dfs_2002 = money_dfs_2002_reordered

money_dfs_2002['City'] = money_dfs_2002['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2002)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2002['Date (2002)'] = money_dfs_2002['Date (2002)'].apply(convert_date)

money_dfs_2002 = money_dfs_2002.drop(0)
money_dfs_2002 = money_dfs_2002.reset_index(drop=True)

money_dfs_2002 = money_dfs_2002.rename(columns={'Date (2002)': 'Date'})


money_dfs[8] = money_dfs_2002


money_dfs[8]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2295931643.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2002['Gross'] = money_dfs_2002['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2295931643.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2002['City'] = money_dfs_2002['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2295931643.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2002['Date (2002)'] = money_dfs_2002['Date (2002)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,12/31/2002,New York City,Madison Square Garden,"18,966","18,966","824,940"

In [23]:
money_dfs_2003 = money_dfs[9]
money_dfs_2003['Gross'] = money_dfs_2003['Gross'].str.replace('$', '')

money_dfs_2003_split = money_dfs_2003['Attendance'].str.split('/', expand=True)
money_dfs_2003['Attendance'] = money_dfs_2003_split[0]
money_dfs_2003['Capacity'] = money_dfs_2003_split[1]

desired_column_order = ['Date (2003)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2003_reordered = money_dfs_2003[desired_column_order]
money_dfs_2003 = money_dfs_2003_reordered

money_dfs_2003['City'] = money_dfs_2003['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2003)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2003['Date (2003)'] = money_dfs_2003['Date (2003)'].apply(convert_date)

money_dfs_2003 = money_dfs_2003.drop(0)
money_dfs_2003 = money_dfs_2003.drop(4)
money_dfs_2003 = money_dfs_2003.drop(17)
money_dfs_2003 = money_dfs_2003.drop(37)
money_dfs_2003 = money_dfs_2003.drop(40)
money_dfs_2003 = money_dfs_2003.drop(45)
money_dfs_2003 = money_dfs_2003.drop(50)
money_dfs_2003 = money_dfs_2003.reset_index(drop=True)

money_dfs_2003 = money_dfs_2003.rename(columns={'Date (2003)': 'Date'})

money_dfs_2003 = money_dfs_2003.fillna(0)

money_dfs[9] = money_dfs_2003


money_dfs[9]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\114173288.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2003['Gross'] = money_dfs_2003['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\114173288.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2003['City'] = money_dfs_2003['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\114173288.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2003['Date (2003)'] = money_dfs_2003['Date (2003)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,01/02/2003,Hampton,Hampton Coliseum,"41,400","41,400","1,559,173"
1,01/03/2003,Hampton,Hampton Coliseum,"41,400","41,400","1,559,173"
2,01/04/2003,Hampton,Hampton Coliseum,"41,400","41,400","1,559,173"
3,02/14/2003,Inglewood,Great Western Forum,"17,436","17,517","645,863"
4,02/15/2003,Las Vegas,Thomas & Mack Center,"35,905","35,905","1,418,248"
5,02/16/2003,Las Vegas,Thomas & Mack Center,"35,905","35,905","1,418,248"
6,02/18/2003,Denver,Pepsi Center,"17,767","17,767","666,263"
7,02/20/2003,Rosemont,Allstate Arena,"18,355","18,355","688,313"
8,02/21/2003,Cincinnati,U.S. Bank Arena,0,0,0
9,02/22/2003,Cincinnati,U.S. Bank Arena,0,0,0
10,02/24/2003,East Rutherford,Continental Airlines Arena,"20,632","20,632","707,764"
11,02/25/2003,Philadelphia,First Union Spectrum,"18,332","18,332","679,613"
12,02/26/2003,Worcester,Worcester's Centrum Centre,"14,511","14,511","529,575"
13,02/28/2003,Uniondale,Nassau Veterans Memorial Coliseum,"17,433","17,630","600,915"
14,03/01/2003,Greensboro,Greensboro Coliseum,"23,642","23,642","880,688"
15,07/07/2003,Phoenix,Cricket Wireless Pavilion,0,0,0
16,07/08/2003,Chula Vista,Coors Amphitheatre,"12,235","15,000","532,223"
17,07/09/2003,Mountain View,Shoreline Amphitheatre,0,0,0
18,07/10/2003,Mountain View,Shoreline Amphitheatre,0,0,0
19,07/12/2003,George,The Gorge Amphitheatre,0,0,0
20,07/13/2003,George,The Gorge Amphitheatre,0,0,0
21,07/15/2003,West Valley City,USANA Amphitheatre,0,0,0
22,07/17/2003,Bonner Springs,Verizon Wireless Amphitheater,0,0,0
23,07/18/2003,East Troy,Alpine Valley Music Theatre,"55,772","70,288","2,167,243"
24,07/19/2003,East Troy,Alpine Valley Music Theatre,"55,772","70,288","2,167,243"
25,07/21/2003,Noblesville,Verizon Wireless Music Center,"62,658","72,564","2,455,162"
26,07/22/2003,Noblesville,Verizon Wireless Music Center,"62,658","72,564","2,455,162"
27,07/23/2003,Noblesville,Verizon Wireless Music Center,"62,658","72,564","2,455,162"
28,07/25/2003,Charlotte,Verizon Wireless Amphitheatre,"18,874","18,874","721,856"
29,07/26/2003,Atlanta,HiFi Buys Amphitheatre,"18,280","18,789","795,396"
30,07/27/2003,Raleigh,Alltel Pavilion,"17,668","20,000","672,465"
31,07/29/2003,Burgettstown,Post-Gazette Pavilion,"16,302","23,188","609,808"
32,07/30/2003,Camden,Tweeter Center at the Waterfront,"49,504","49,940","1,917,628"
33,07/31/2003,Camden,Tweeter Center at the Waterfront,"49,504","49,940","1,917,628"
34,08/02/2003,Limestone,Loring Air Force Base,0,0,0
35,08/03/2003,Limestone,Loring Air Force Base,0,0,0
36,11/28/2003,Uniondale,Nassau Veterans Memorial Coliseum,"17,450","17,789","593,021"
37,11/29/2003,Philadelphia,Wachovia Spectrum,"18,237","18,237","673,875"
38,12/01/2003,Albany,Pepsi Arena,"15,786","15,786","576,189"
39,12/02/2003,Boston,FleetCenter,"17,569","17,569","676,360"
40,12/28/2003,Miami,American Airlines Arena,"74,376","74,376","3,063,761"
41,12/29/2003,Miami,American Airlines Arena,"74,376","74,376","3,063,761"
42,12/30/2003,Miami,American Airlines Arena,"74,376","74,376","3,063,761"
43,12/31/2003,Miami,American Airlines Arena,"74,376","74,376","3,063,761"

In [24]:
money_dfs_2004 = money_dfs[10]
money_dfs_2004['Gross'] = money_dfs_2004['Gross'].str.replace('$', '')

money_dfs_2004_split = money_dfs_2004['Attendance'].str.split('/', expand=True)
money_dfs_2004['Attendance'] = money_dfs_2004_split[0]
money_dfs_2004['Capacity'] = money_dfs_2004_split[1]

desired_column_order = ['Date (2004)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2004_reordered = money_dfs_2004[desired_column_order]
money_dfs_2004 = money_dfs_2004_reordered

money_dfs_2004['City'] = money_dfs_2004['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2004)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2004['Date (2004)'] = money_dfs_2004['Date (2004)'].apply(convert_date)

money_dfs_2004 = money_dfs_2004.drop(0)
money_dfs_2004 = money_dfs_2004.drop(4)
money_dfs_2004 = money_dfs_2004.drop(13)
money_dfs_2004 = money_dfs_2004.drop(18)
money_dfs_2004 = money_dfs_2004.drop(22)
money_dfs_2004 = money_dfs_2004.reset_index(drop=True)

money_dfs_2004 = money_dfs_2004.rename(columns={'Date (2004)': 'Date'})

money_dfs_2004 = money_dfs_2004.fillna(0)

money_dfs[10] = money_dfs_2004


money_dfs[10]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3740720380.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2004['Gross'] = money_dfs_2004['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3740720380.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2004['City'] = money_dfs_2004['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3740720380.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2004['Date (2004)'] = money_dfs_2004['Date (2004)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,04/15/2004,Las Vegas,Thomas & Mack Center,"53,815","53,815","2,287,138"
1,04/16/2004,Las Vegas,Thomas & Mack Center,"53,815","53,815","2,287,138"
2,04/17/2004,Las Vegas,Thomas & Mack Center,"53,815","53,815","2,287,138"
3,06/17/2004,Brooklyn,KeySpan Park,0,0,0
4,06/18/2004,Brooklyn,KeySpan Park,0,0,0
5,06/19/2004,Saratoga Springs,Saratoga Performing Arts Center,"50,081","50,240","2,082,458"
6,06/20/2004,Saratoga Springs,Saratoga Performing Arts Center,"50,081","50,240","2,082,458"
7,06/23/2004,Noblesville,Verizon Wireless Music Center,"48,607","48,607","1,902,574"
8,06/24/2004,Noblesville,Verizon Wireless Music Center,"48,607","48,607","1,902,574"
9,06/25/2004,East Troy,Alpine Valley Music Theatre,"64,969","70,093","2,543,022"
10,06/26/2004,East Troy,Alpine Valley Music Theatre,"64,969","70,093","2,543,022"
11,08/09/2004,Hampton,Hampton Coliseum,"13,800","13,800","584,242"
12,08/10/2004,Mansfield,Tweeter Center for the Performing Arts,"39,820","39,820","1,627,837"
13,08/11/2004,Mansfield,Tweeter Center for the Performing Arts,"39,820","39,820","1,627,837"
14,08/12/2004,Camden,Tweeter Center at the Waterfront,"25,150","25,150","1,052,810"
15,08/13/2004,Coventry,Newport State Airport,0,0,0
16,08/14/2004,Coventry,Newport State Airport,0,0,0
17,08/15/2004,Coventry,Newport State Airport,0,0,0

In [25]:
money_dfs_2009 = money_dfs[11]
money_dfs_2009['Gross'] = money_dfs_2009['Gross'].str.replace('$', '')

money_dfs_2009_split = money_dfs_2009['Attendance'].str.split('/', expand=True)
money_dfs_2009['Attendance'] = money_dfs_2009_split[0]
money_dfs_2009['Capacity'] = money_dfs_2009_split[1]

desired_column_order = ['Date (2009)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2009_reordered = money_dfs_2009[desired_column_order]
money_dfs_2009 = money_dfs_2009_reordered

money_dfs_2009['City'] = money_dfs_2009['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2009)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2009['Date (2009)'] = money_dfs_2009['Date (2009)'].apply(convert_date)

money_dfs_2009 = money_dfs_2009.drop(0)
money_dfs_2009 = money_dfs_2009.drop(4)
money_dfs_2009 = money_dfs_2009.drop(20)
money_dfs_2009 = money_dfs_2009.drop(33)
money_dfs_2009 = money_dfs_2009.drop(37)
money_dfs_2009 = money_dfs_2009.drop(51)
money_dfs_2009 = money_dfs_2009.drop(56)
money_dfs_2009 = money_dfs_2009.reset_index(drop=True)

money_dfs_2009 = money_dfs_2009.rename(columns={'Date (2009)': 'Date'})

money_dfs_2009 = money_dfs_2009.fillna(0)

money_dfs[11] = money_dfs_2009


money_dfs[11]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2938612767.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2009['Gross'] = money_dfs_2009['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2938612767.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2009['City'] = money_dfs_2009['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2938612767.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2009['Date (2009)'] = money_dfs_2009['Date (2009)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,03/06/2009,Hampton,Hampton Coliseum,0,0,0
1,03/07/2009,Hampton,Hampton Coliseum,0,0,0
2,03/08/2009,Hampton,Hampton Coliseum,0,0,0
3,05/31/2009,Boston,Fenway Park,"34,906","34,906","1,710,423"
4,06/02/2009,Wantagh,Nikon at Jones Beach Theater,0,0,0
5,06/04/2009,Wantagh,Nikon at Jones Beach Theater,0,0,0
6,06/05/2009,Wantagh,Nikon at Jones Beach Theater,0,0,0
7,06/06/2009,Mansfield,Comcast Center,0,0,0
8,06/07/2009,Camden,Susquehanna Bank Center,"24,958","24,958","1,232,116"
9,06/09/2009,Asheville,Asheville Civic Center,0,0,0
10,06/10/2009,Knoxville,ThompsonBoling Arena,0,0,0
11,06/12/2009,Manchester,Bonnaroo Music and Arts Festival,0,0,0
12,06/14/2009,Manchester,Bonnaroo Music and Arts Festival,0,0,0
13,06/16/2009,St. Louis,Fox Theatre,0,0,0
14,06/18/2009,Burgettstown,Post-Gazette Pavilion,"23,064","23,070","1,137,263"
15,06/19/2009,Noblesville,Verizon Wireless Music Center,"24,502","24,502","1,089,480"
16,06/20/2009,East Troy,Alpine Valley Music Theatre,"69,731","69,772","3,431,192"
17,06/21/2009,East Troy,Alpine Valley Music Theatre,"69,731","69,772","3,431,192"
18,07/30/2009,Morrison,Red Rocks Amphitheatre,0,0,0
19,07/31/2009,Morrison,Red Rocks Amphitheatre,0,0,0
20,08/01/2009,Morrison,Red Rocks Amphitheatre,0,0,0
21,08/02/2009,Morrison,Red Rocks Amphitheatre,0,0,0
22,08/05/2009,Mountain View,Shoreline Amphitheatre,"22,021","22,021","945,183"
23,08/07/2009,George,The Gorge Amphitheatre,"43,437","44,000","2,147,756"
24,08/08/2009,George,The Gorge Amphitheatre,"43,437","44,000","2,147,756"
25,08/11/2009,Bridgeview,Toyota Park,"30,303","30,303","1,409,090"
26,08/13/2009,Darien Center,Darien Lake Performing Arts Center,"21,773","21,773","1,072,764"
27,08/14/2009,Hartford,Comcast Theatre,"24,087","24,087","985,810"
28,08/15/2009,Columbia,Merriweather Post Pavilion,"19,000","19,000","935,798"
29,08/16/2009,Saratoga Springs,Saratoga Performing Arts Center,"25,234","25,234","1,246,658"
30,10/30/2009,Indio,Empire Polo Club,0,0,0
31,10/31/2009,Indio,Empire Polo Club,0,0,0
32,11/01/2009,Indio,Empire Polo Club,0,0,0
33,11/18/2009,Detroit,Cobo Arena,"10,519","11,561","523,850"
34,11/20/2009,Cincinnati,U.S. Bank Arena,0,0,0
35,11/21/2009,Cincinnati,U.S. Bank Arena,0,0,0
36,11/22/2009,Syracuse,War Memorial at Oncenter,0,0,0
37,11/24/2009,Philadelphia,Wachovia Center,0,0,0
38,11/25/2009,Philadelphia,Wachovia Center,0,0,0
39,11/27/2009,Albany,Times Union Center,"30,883","30,883","1,481,952"
40,11/28/2009,Albany,Times Union Center,"30,883","30,883","1,481,952"
41,11/29/2009,Portland,Cumberland County Civic Center,0,0,0
42,12/02/2009,New York City,Madison Square Garden,"55,700","55,700","2,532,237"
43,12/03/2009,New York City,Madison Square Garden,"55,700","55,700","2,532,237"
44,12/04/2009,New York City,Madison Square Garden,"55,700","55,700","2,532,237"
45,12/05/2009,Charlottesville,John Paul Jones Arena,"13,963","13,974","669,408"
46,12/28/2009,Miami,American Airlines Arena,0,0,0
47,12/29/2009,Miami,American Airlines Arena,0,0,0
48,12/30/2009,Miami,American Airlines Arena,0,0,0
49,12/31/2009,Miami,American Airlines Arena,0,0,0

In [26]:
money_dfs_2010 = money_dfs[12]
money_dfs_2010['Gross'] = money_dfs_2010['Gross'].str.replace('$', '')

money_dfs_2010_split = money_dfs_2010['Attendance'].str.split('/', expand=True)
money_dfs_2010['Attendance'] = money_dfs_2010_split[0]
money_dfs_2010['Capacity'] = money_dfs_2010_split[1]

desired_column_order = ['Date (201011)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2010_reordered = money_dfs_2010[desired_column_order]
money_dfs_2010 = money_dfs_2010_reordered

money_dfs_2010['City'] = money_dfs_2010['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2010)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2010['Date (201011)'] = money_dfs_2010['Date (201011)'].apply(convert_date)

money_dfs_2010 = money_dfs_2010.drop(0)
money_dfs_2010 = money_dfs_2010.drop(19)
money_dfs_2010 = money_dfs_2010.drop(31)
money_dfs_2010 = money_dfs_2010.drop(47)
money_dfs_2010 = money_dfs_2010.drop(53)
money_dfs_2010 = money_dfs_2010.reset_index(drop=True)

money_dfs_2010 = money_dfs_2010.rename(columns={'Date (201011)': 'Date'})

new_date = "01/01/2011"
money_dfs_2010.at[48, 'Date'] = new_date

money_dfs_2010 = money_dfs_2010.fillna(0)

money_dfs[12] = money_dfs_2010

money_dfs[12]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3243298331.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2010['Gross'] = money_dfs_2010['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3243298331.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2010['City'] = money_dfs_2010['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3243298331.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2010['Date (201011)'] = money_dfs_2010['Date (201011)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,06/11/2010,Bridgeview,Toyota Park,"22,293","22,293","1,036,625"
1,06/12/2010,Cuyahoga Falls,Blossom Music Center,"14,726","20,351","736,300"
2,06/13/2010,Hershey,Hersheypark Stadium,"14,261","30,223","713,050"
3,06/15/2010,Portsmouth,nTelos Wireless Pavilion,0,0,0
4,06/17/2010,Hartford,Comcast Theatre,"32,610","49,608","1,900,500"
5,06/18/2010,Hartford,Comcast Theatre,"32,610","49,608","1,900,500"
6,06/19/2010,Saratoga Springs,Saratoga Performing Arts Center,"45,176","50,157","2,258,800"
7,06/20/2010,Saratoga Springs,Saratoga Performing Arts Center,"45,176","50,157","2,258,800"
8,06/22/2010,Mansfield,Comcast Center,"19,729","19,729","986,450"
9,06/24/2010,Camden,Susquehanna Bank Center,"37,247","49,440","1,965,934"
10,06/25/2010,Camden,Susquehanna Bank Center,"37,247","49,440","1,965,934"
11,06/26/2010,Columbia,Merriweather Post Pavilion,"30,449","38,000","1,522,450"
12,06/27/2010,Columbia,Merriweather Post Pavilion,"30,449","38,000","1,522,450"
13,06/29/2010,Canandaigua,Constellation Brands Marvin Sands Performing...,"12,633","15,000","631,500"
14,07/01/2010,Raleigh,Time Warner Cable Music Pavilion at Walnut Creek,"12,594","20,000","629,700"
15,07/02/2010,Charlotte,Verizon Wireless Amphitheatre,"15,339","18,812","766,950"
16,07/03/2010,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"25,574","25,574","1,278,700"
17,07/04/2010,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"25,574","25,574","1,278,700"
18,08/05/2010,Berkeley,William Randolph Hearst Greek Theatre,"26,016","26,016","1,300,800"
19,08/06/2010,Berkeley,William Randolph Hearst Greek Theatre,"26,016","26,016","1,300,800"
20,08/07/2010,Berkeley,William Randolph Hearst Greek Theatre,"26,016","26,016","1,300,800"
21,08/09/2010,Telluride,Telluride Town Park,"10,011","10,011","859,950"
22,08/10/2010,Telluride,Telluride Town Park,"10,011","10,011","859,950"
23,08/12/2010,Noblesville,Verizon Wireless Music Center,"35,801","48,820","1,790,050"
24,08/13/2010,Noblesville,Verizon Wireless Music Center,"35,801","48,820","1,790,050"
25,08/14/2010,East Troy,Alpine Valley Music Theatre,"42,434","70,872","2,121,700"
26,08/15/2010,East Troy,Alpine Valley Music Theatre,"42,434","70,872","2,121,700"
27,08/17/2010,Wantagh,Nikon at Jones Beach Theater,"28,146","28,146","1,407,300"
28,08/18/2010,Wantagh,Nikon at Jones Beach Theater,"28,146","28,146","1,407,300"
29,10/08/2010,Austin,Austin City Limits Music Festival,0,0,0
30,10/10/2010,Broomfield,1stBank Center,0,0,0
31,10/11/2010,Broomfield,1stBank Center,0,0,0
32,10/12/2010,Broomfield,1stBank Center,0,0,0
33,10/15/2010,North Charleston,North Charleston Coliseum,"24,018","24,954","1,441,080"
34,10/16/2010,North Charleston,North Charleston Coliseum,"24,018","24,954","1,441,080"
35,10/19/2010,Augusta,Augusta Civic Center,0,0,0
36,10/20/2010,Utica,Utica Memorial Auditorium,0,0,0
37,10/22/2010,Providence,Dunkin' Donuts Center,0,0,0
38,10/23/2010,Amherst,William D. Mullins Memorial Center,"19,355","19,355","1,161,300"
39,10/24/2010,Amherst,William D. Mullins Memorial Center,"19,355","19,355","1,161,300"
40,10/26/2010,Manchester,Verizon Wireless Arena,0,0,0
41,10/29/2010,Atlantic City,Boardwalk Hall,"42,240","42,240","2,534,400"
42,10/30/2010,Atlantic City,Boardwalk Hall,"42,240","42,240","2,534,400"
43,10/31/2010,Atlantic City,Boardwalk Hall,"42,240","42,240","2,534,400"
44,12/27/2010,Worcester,DCU Center,"25,324","26,942","1,519,440"
45,12/28/2010,Worcester,DCU Center,"25,324","26,942","1,519,440"
46,12/30/2010,New York City,Madison Square Garden,"55,710","55,710","3,528,260"
47,12/31/2010,New York City,Madison Square Garden,"55,710","55,710","3,528,260"
48,01/01/2011,New York City,Madison Square Garden,"55,710","55,710","3,528,260"

In [27]:
money_dfs_2011 = money_dfs[13]
money_dfs_2011['Gross'] = money_dfs_2011['Gross'].str.replace('$', '')

money_dfs_2011_split = money_dfs_2011['Attendance'].str.split('/', expand=True)
money_dfs_2011['Attendance'] = money_dfs_2011_split[0]
money_dfs_2011['Capacity'] = money_dfs_2011_split[1]

desired_column_order = ['Date (2011)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2011_reordered = money_dfs_2011[desired_column_order]
money_dfs_2011 = money_dfs_2011_reordered

money_dfs_2011['City'] = money_dfs_2011['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2011)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2011['Date (2011)'] = money_dfs_2011['Date (2011)'].apply(convert_date)

money_dfs_2011 = money_dfs_2011.drop(10)
money_dfs_2011 = money_dfs_2011.reset_index(drop=True)

money_dfs_2011 = money_dfs_2011.rename(columns={'Date (2011)': 'Date'})

money_dfs[13] = money_dfs_2011

money_dfs[13]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2621455767.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2011['Gross'] = money_dfs_2011['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,06/03/2011,Clarkston,DTE Energy Music Theatre,"11,233","15,274","557,283"
1,08/09/2011,Stateline,Harveys Outdoor Arena,"17,221","17,221","861,050"
2,08/10/2011,Stateline,Harveys Outdoor Arena,"17,221","17,221","861,050"
3,08/15/2011,Chicago,UIC Pavilion,"27,476","27,476","1,593,608"
4,08/16/2011,Chicago,UIC Pavilion,"27,476","27,476","1,593,608"
5,08/17/2011,Chicago,UIC Pavilion,"27,476","27,476","1,593,608"
6,12/28/2011,New York City,Madison Square Garden,"75,707","75,707","4,387,679"
7,12/29/2011,New York City,Madison Square Garden,"75,707","75,707","4,387,679"
8,12/30/2011,New York City,Madison Square Garden,"75,707","75,707","4,387,679"
9,12/31/2011,New York City,Madison Square Garden,"75,707","75,707","4,387,679"

In [28]:
money_dfs_2012 = money_dfs[14]
money_dfs_2012['Gross'] = money_dfs_2012['Gross'].str.replace('$', '')

money_dfs_2012_split = money_dfs_2012['Attendance'].str.split('/', expand=True)
money_dfs_2012['Attendance'] = money_dfs_2012_split[0]
money_dfs_2012['Capacity'] = money_dfs_2012_split[1]

desired_column_order = ['Date (2012)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2012_reordered = money_dfs_2012[desired_column_order]
money_dfs_2012 = money_dfs_2012_reordered

money_dfs_2012['City'] = money_dfs_2012['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2012)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2012['Date (2012)'] = money_dfs_2012['Date (2012)'].apply(convert_date)

money_dfs_2012 = money_dfs_2012.drop(0)
money_dfs_2012 = money_dfs_2012.drop(21)
money_dfs_2012 = money_dfs_2012.drop(35)
money_dfs_2012 = money_dfs_2012.drop(40)
money_dfs_2012 = money_dfs_2012.reset_index(drop=True)

money_dfs_2012 = money_dfs_2012.rename(columns={'Date (2012)': 'Date'})

money_dfs_2012 = money_dfs_2012.fillna(0)

money_dfs[14] = money_dfs_2012

money_dfs[14]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2423348414.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2012['Gross'] = money_dfs_2012['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2423348414.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2012['City'] = money_dfs_2012['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2423348414.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2012['Date (2012)'] = money_dfs_2012['Date (2012)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,06/07/2012,Worcester,DCU Center,"25,346","28,666","1,520,760"
1,06/08/2012,Worcester,DCU Center,"25,346","28,666","1,520,760"
2,06/10/2012,Manchester,Bonnaroo Music and Arts Festival,0,0,0
3,06/15/2012,Atlantic City,Bader Field,0,0,0
4,06/16/2012,Atlantic City,Bader Field,0,0,0
5,06/17/2012,Atlantic City,Bader Field,0,0,0
6,06/19/2012,Portsmouth,nTelos Wireless Pavilion,"13,780","13,780","827,400"
7,06/20/2012,Portsmouth,nTelos Wireless Pavilion,"13,780","13,780","827,400"
8,06/22/2012,Cincinnati,Riverbend Music Center,"11,075","20,500","581,400"
9,06/23/2012,Burgettstown,First Niagara Pavilion,"12,925","23,085","683,220"
10,06/24/2012,Cuyahoga Falls,Blossom Music Center,"11,220","20,551","595,305"
11,06/28/2012,Noblesville,Klipsch Music Center,"25,759","50,000","1,343,265"
12,06/29/2012,Noblesville,Klipsch Music Center,"25,759","50,000","1,343,265"
13,06/30/2012,East Troy,Alpine Valley Music Theatre,"35,223","71,200","1,811,415"
14,07/01/2012,East Troy,Alpine Valley Music Theatre,"35,223","71,200","1,811,415"
15,07/03/2012,Wantagh,Nikon at Jones Beach Theater,"28,556","28,556","1,713,360"
16,07/04/2012,Wantagh,Nikon at Jones Beach Theater,"28,556","28,556","1,713,360"
17,07/06/2012,Saratoga Springs,Saratoga Performing Arts Center,"62,354","75,000","3,040,815"
18,07/07/2012,Saratoga Springs,Saratoga Performing Arts Center,"62,354","75,000","3,040,815"
19,07/08/2012,Saratoga Springs,Saratoga Performing Arts Center,"62,354","75,000","3,040,815"
20,08/15/2012,Long Beach,Long Beach Arena,"13,121","13,121","787,260"
21,08/17/2012,San Francisco,Bill Graham Civic Auditorium,"26,259","26,259","1,575,540"
22,08/18/2012,San Francisco,Bill Graham Civic Auditorium,"26,259","26,259","1,575,540"
23,08/19/2012,San Francisco,Bill Graham Civic Auditorium,"26,259","26,259","1,575,540"
24,08/22/2012,Kansas City,Starlight Theatre,"7,414","7,414","444,840"
25,08/24/2012,Pelham,Oak Mountain Amphitheatre,"10,345","10,345","567,630"
26,08/25/2012,Atlanta,Aaron's Amphitheatre at Lakewood,"18,793","18,793","950,565"
27,08/26/2012,Charlotte,Verizon Wireless Amphitheatre,"13,296","18,812","711,915"
28,08/28/2012,St. Louis,Chaifetz Arena,"7,425","9,978","445,500"
29,08/29/2012,Oklahoma City,Zoo Amphitheatre,"6,474","9,500","388,505"
30,08/31/2012,Commerce City,Dick's Sporting Goods Park,"60,124","73,533","3,355,628"
31,09/01/2012,Commerce City,Dick's Sporting Goods Park,"60,124","73,533","3,355,628"
32,09/02/2012,Commerce City,Dick's Sporting Goods Park,"60,124","73,533","3,355,628"
33,12/28/2012,New York City,Madison Square Garden,"73,569","73,569","4,594,270"
34,12/29/2012,New York City,Madison Square Garden,"73,569","73,569","4,594,270"
35,12/30/2012,New York City,Madison Square Garden,"73,569","73,569","4,594,270"
36,12/31/2012,New York City,Madison Square Garden,"73,569","73,569","4,594,270"

In [29]:
money_dfs_2013 = money_dfs[15]
money_dfs_2013['Gross'] = money_dfs_2013['Gross'].str.replace('$', '')

money_dfs_2013_split = money_dfs_2013['Attendance'].str.split('/', expand=True)
money_dfs_2013['Attendance'] = money_dfs_2013_split[0]
money_dfs_2013['Capacity'] = money_dfs_2013_split[1]

desired_column_order = ['Date (2013)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2013_reordered = money_dfs_2013[desired_column_order]
money_dfs_2013 = money_dfs_2013_reordered

money_dfs_2013['City'] = money_dfs_2013['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2013)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2013['Date (2013)'] = money_dfs_2013['Date (2013)'].apply(convert_date)

money_dfs_2013 = money_dfs_2013.drop(0)
money_dfs_2013 = money_dfs_2013.drop(26)
money_dfs_2013 = money_dfs_2013.drop(39)
money_dfs_2013 = money_dfs_2013.drop(44)
money_dfs_2013 = money_dfs_2013.reset_index(drop=True)

money_dfs_2013 = money_dfs_2013.rename(columns={'Date (2013)': 'Date'})

money_dfs[15] = money_dfs_2013

money_dfs[15]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\762894824.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2013['Gross'] = money_dfs_2013['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\762894824.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2013['City'] = money_dfs_2013['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\762894824.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2013['Date (2013)'] = money_dfs_2013['Date (2013)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,07/03/2013,Bangor,Darling's Waterfront Pavilion,"13,977","16,000","840,455"
1,07/05/2013,Saratoga Springs,Saratoga Performing Arts Center,"66,695","77,867","2,324,855"
2,07/06/2013,Saratoga Springs,Saratoga Performing Arts Center,"66,695","77,867","2,324,855"
3,07/07/2013,Saratoga Springs,Saratoga Performing Arts Center,"66,695","77,867","2,324,855"
4,07/10/2013,Holmdel Township,PNC Bank Arts Center,"16,720","16,907","847,395"
5,07/12/2013,Wantagh,Nikon at Jones Beach Theater,"14,252","14,252","855,120"
6,07/13/2013,Columbia,Merriweather Post Pavilion,"35,103","39,124","1,741,095"
7,07/14/2013,Columbia,Merriweather Post Pavilion,"35,103","39,124","1,741,095"
8,07/16/2013,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"23,245","26,000","1,266,060"
9,07/17/2013,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"23,245","26,000","1,266,060"
10,07/19/2013,Chicago,Charter One Pavilion,"67,238","78,002","3,200,445"
11,07/20/2013,Chicago,Charter One Pavilion,"67,238","78,002","3,200,445"
12,07/21/2013,Chicago,Charter One Pavilion,"67,238","78,002","3,200,445"
13,07/22/2013,Toronto,Molson Canadian Amphitheatre,"10,043","16,360","526,835"
14,07/26/2013,George,The Gorge Amphitheatre,"31,762","44,000","1,661,840"
15,07/27/2013,George,The Gorge Amphitheatre,"31,762","44,000","1,661,840"
16,07/30/2013,Stateline,Harveys Outdoor Arena,"17,644","17,644","1,058,935"
17,07/31/2013,Stateline,Harveys Outdoor Arena,"17,644","17,644","1,058,935"
18,08/02/2013,San Francisco,Bill Graham Civic Auditorium,"26,288","26,288","1,577,280"
19,08/03/2013,San Francisco,Bill Graham Civic Auditorium,"26,288","26,288","1,577,280"
20,08/04/2013,San Francisco,Bill Graham Civic Auditorium,"26,288","26,288","1,577,280"
21,08/05/2013,Los Angeles,Hollywood Bowl,"17,223","17,223","962,850"
22,08/30/2013,Commerce City,Dick's Sporting Goods Park,"68,794","72,856","3,788,980"
23,08/31/2013,Commerce City,Dick's Sporting Goods Park,"68,794","72,856","3,788,980"
24,09/01/2013,Commerce City,Dick's Sporting Goods Park,"68,794","72,856","3,788,980"
25,10/18/2013,Hampton,Hampton Coliseum,"40,035","40,035","2,481,180"
26,10/19/2013,Hampton,Hampton Coliseum,"40,035","40,035","2,481,180"
27,10/20/2013,Hampton,Hampton Coliseum,"40,035","40,035","2,481,180"
28,10/22/2013,Rochester,The Blue Cross Arena at the War Memorial,"11,244","14,000","730,860"
29,10/23/2013,Glens Falls,Glens Falls Civic Center,"7,220","7,220","469,300"
30,10/25/2013,Worcester,DCU Center,"27,440","27,440","1,724,930"
31,10/26/2013,Worcester,DCU Center,"27,440","27,440","1,724,930"
32,10/27/2013,Hartford,XL Center,"12,275","15,844","748,775"
33,10/29/2013,Reading,Santander Arena,"8,821","8,821","573,365"
34,10/31/2013,Atlantic City,Boardwalk Hall,"42,219","42,219","2,621,845"
35,11/01/2013,Atlantic City,Boardwalk Hall,"42,219","42,219","2,621,845"
36,11/02/2013,Atlantic City,Boardwalk Hall,"42,219","42,219","2,621,845"
37,12/28/2013,New York City,Madison Square Garden,"76,000","76,000","4,820,030"
38,12/29/2013,New York City,Madison Square Garden,"76,000","76,000","4,820,030"
39,12/30/2013,New York City,Madison Square Garden,"76,000","76,000","4,820,030"
40,12/31/2013,New York City,Madison Square Garden,"76,000","76,000","4,820,030"

In [30]:
money_dfs_2014 = money_dfs[16]
money_dfs_2014['Gross'] = money_dfs_2014['Gross'].str.replace('$', '')

money_dfs_2014_split = money_dfs_2014['Attendance'].str.split('/', expand=True)
money_dfs_2014['Attendance'] = money_dfs_2014_split[0]
money_dfs_2014['Capacity'] = money_dfs_2014_split[1]

desired_column_order = ['Date (2014)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2014_reordered = money_dfs_2014[desired_column_order]
money_dfs_2014 = money_dfs_2014_reordered

money_dfs_2014['City'] = money_dfs_2014['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2014)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2014['Date (2014)'] = money_dfs_2014['Date (2014)'].apply(convert_date)

money_dfs_2014 = money_dfs_2014.drop(0)
money_dfs_2014 = money_dfs_2014.drop(2)
money_dfs_2014 = money_dfs_2014.drop(28)
money_dfs_2014 = money_dfs_2014.drop(41)
money_dfs_2014 = money_dfs_2014.drop(43)
money_dfs_2014 = money_dfs_2014.reset_index(drop=True)

money_dfs_2014 = money_dfs_2014.rename(columns={'Date (2014)': 'Date'})

money_dfs_2014 = money_dfs_2014.fillna(0)

money_dfs[16] = money_dfs_2014

money_dfs[16]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3172064585.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2014['Gross'] = money_dfs_2014['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3172064585.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2014['City'] = money_dfs_2014['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3172064585.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2014['Date (2014)'] = money_dfs_2014['Date (2014)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,04/26/2014,New Orleans,New Orleans Jazz & Heritage Festival,0,0,0
1,07/01/2014,Mansfield,Xfinity Center,"17,387","19,900","971,325"
2,07/03/2014,Saratoga Springs,Saratoga Performing Arts Center,"52,730","75,759","2,602,185"
3,07/04/2014,Saratoga Springs,Saratoga Performing Arts Center,"52,730","75,759","2,602,185"
4,07/05/2014,Saratoga Springs,Saratoga Performing Arts Center,"52,730","75,759","2,602,185"
5,07/08/2014,Philadelphia,Mann Center for the Performing Arts,"24,804","25,000","1,308,840"
6,07/09/2014,Philadelphia,Mann Center for the Performing Arts,"24,804","25,000","1,308,840"
7,07/11/2014,New York City,Randall's Island,"55,372","90,000","3,062,580"
8,07/12/2014,New York City,Randall's Island,"55,372","90,000","3,062,580"
9,07/13/2014,New York City,Randall's Island,"55,372","90,000","3,062,580"
10,07/15/2014,Canandaigua,Constellation Brands Marvin Sands Performing...,"10,318","14,772","534,630"
11,07/16/2014,Clarkston,DTE Energy Music Theatre,"6,949","15,008","525,345"
12,07/18/2014,Chicago,FirstMerit Bank Pavilion,"53,056","78,000","2,690,820"
13,07/19/2014,Chicago,FirstMerit Bank Pavilion,"53,056","78,000","2,690,820"
14,07/20/2014,Chicago,FirstMerit Bank Pavilion,"53,056","78,000","2,690,820"
15,07/25/2014,Charlotte,PNC Music Pavilion,"12,508","18,858","685,785"
16,07/26/2014,Columbia,Merriweather Post Pavilion,"32,911","38,000","1,646,355"
17,07/27/2014,Columbia,Merriweather Post Pavilion,"32,911","38,000","1,646,355"
18,07/29/2014,Portsmouth,nTelos Wireless Pavilion,"13,211","14,000","792,660"
19,07/30/2014,Portsmouth,nTelos Wireless Pavilion,"13,211","14,000","792,660"
20,08/01/2014,Orange Beach,The Amphitheater at the Wharf,0,0,0
21,08/02/2014,Pelham,Oak Mountain Amphitheatre,"10,216","10,291","561,015"
22,08/03/2014,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"12,773","13,000","685,605"
23,08/29/2014,Commerce City,Dick's Sporting Goods Park,"69,730","74,268","3,842,673"
24,08/30/2014,Commerce City,Dick's Sporting Goods Park,"69,730","74,268","3,842,673"
25,08/31/2014,Commerce City,Dick's Sporting Goods Park,"69,730","74,268","3,842,673"
26,10/17/2014,Eugene,Matthew Knight Arena,"11,147","11,147","668,820"
27,10/18/2014,Seattle,KeyArena at Seattle Center,"12,787","12,787","701,610"
28,10/21/2014,Santa Barbara,Santa Barbara Bowl,"9,887","9,887","581,445"
29,10/22/2014,Santa Barbara,Santa Barbara Bowl,"9,887","9,887","581,445"
30,10/24/2014,Inglewood,The Forum,"11,621","14,441","671,910"
31,10/25/2014,Chula Vista,Sleep Train Amphitheatre,"9,493","9,493","520,545"
32,10/27/2014,San Francisco,Bill Graham Civic Auditorium,"26,174","26,174","1,570,440"
33,10/28/2014,San Francisco,Bill Graham Civic Auditorium,"26,174","26,174","1,570,440"
34,10/29/2014,San Francisco,Bill Graham Civic Auditorium,"26,174","26,174","1,570,440"
35,10/31/2014,Las Vegas,MGM Grand Garden Arena,"50,142","50,142","3,006,520"
36,11/01/2014,Las Vegas,MGM Grand Garden Arena,"50,142","50,142","3,006,520"
37,11/02/2014,Las Vegas,MGM Grand Garden Arena,"50,142","50,142","3,006,520"
38,12/31/2014,Miami,AmericanAirlines Arena,0,0,0

In [31]:
money_dfs_2015 = money_dfs[17]
money_dfs_2015['Gross'] = money_dfs_2015['Gross'].str.replace('$', '')

money_dfs_2015_split = money_dfs_2015['Attendance'].str.split('/', expand=True)
money_dfs_2015['Attendance'] = money_dfs_2015_split[0]
money_dfs_2015['Capacity'] = money_dfs_2015_split[1]

desired_column_order = ['Date (2015)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2015_reordered = money_dfs_2015[desired_column_order]
money_dfs_2015 = money_dfs_2015_reordered

money_dfs_2015['City'] = money_dfs_2015['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2015)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2015['Date (2015)'] = money_dfs_2015['Date (2015)'].apply(convert_date)

money_dfs_2015 = money_dfs_2015.drop(0)
money_dfs_2015 = money_dfs_2015.drop(4)
money_dfs_2015 = money_dfs_2015.drop(30)
money_dfs_2015 = money_dfs_2015.drop(33)
money_dfs_2015 = money_dfs_2015.reset_index(drop=True)

money_dfs_2015 = money_dfs_2015.rename(columns={'Date (2015)': 'Date'})

money_dfs_2015 = money_dfs_2015.fillna(0)

money_dfs[17] = money_dfs_2015

money_dfs[17]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1353664010.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2015['Gross'] = money_dfs_2015['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1353664010.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2015['City'] = money_dfs_2015['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1353664010.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2015['Date (2015)'] = money_dfs_2015['Date (2015)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,01/01/2015,Miami,AmericanAirlines Arena,0,0,0
1,01/02/2015,Miami,AmericanAirlines Arena,0,0,0
2,01/03/2015,Miami,AmericanAirlines Arena,0,0,0
3,07/21/2015,Bend,Les Schwab Amphitheater,"15,999","15,999","1,039,935"
4,07/22/2015,Bend,Les Schwab Amphitheater,"15,999","15,999","1,039,935"
5,07/24/2015,Mountain View,Shoreline Amphitheatre,"15,173","22,000","805,845"
6,07/25/2015,Inglewood,The Forum,"12,388","14,550","715,185"
7,07/28/2015,Austin,Austin360 Amphitheater,"10,170","13,164","601,710"
8,07/29/2015,Grand Prairie,Verizon Theatre,"6,455","6,631","419,575"
9,07/31/2015,Atlanta,Aaron's Amphitheatre at Lakewood,"26,451","37,736","1,449,755"
10,08/01/2015,Atlanta,Aaron's Amphitheatre at Lakewood,"26,451","37,736","1,449,755"
11,08/02/2015,Tuscaloosa,Tuscaloosa Amphitheater,"7,786","7,786","436,016"
12,08/04/2015,Nashville,Ascend Amphitheater,"6,778","6,778","352,670"
13,08/05/2015,Kansas City,Starlight Theatre,"6,847","7,538","445,055"
14,08/07/2015,Cuyahoga Falls,Blossom Music Center,"14,062","20,451","745,752"
15,08/08/2015,East Troy,Alpine Valley Music Theatre,"34,716","71,010","1,859,160"
16,08/09/2015,East Troy,Alpine Valley Music Theatre,"34,716","71,010","1,859,160"
17,08/11/2015,Philadelphia,Mann Center for the Performing Arts,"24,909","24,909","1,371,635"
18,08/12/2015,Philadelphia,Mann Center for the Performing Arts,"24,909","24,909","1,371,635"
19,08/14/2015,Raleigh,Walnut Creek Amphitheatre,"12,175","19,980","669,755"
20,08/15/2015,Columbia,Merriweather Post Pavilion,"36,760","38,000","1,877,760"
21,08/16/2015,Columbia,Merriweather Post Pavilion,"36,760","38,000","1,877,760"
22,08/21/2015,Watkins Glen,Watkins Glen International,0,0,0
23,08/22/2015,Watkins Glen,Watkins Glen International,0,0,0
24,08/23/2015,Watkins Glen,Watkins Glen International,0,0,0
25,09/04/2015,Commerce City,Dick's Sporting Goods Park,"69,907","75,156","3,851,213"
26,09/05/2015,Commerce City,Dick's Sporting Goods Park,"69,907","75,156","3,851,213"
27,09/06/2015,Commerce City,Dick's Sporting Goods Park,"69,907","75,156","3,851,213"
28,12/30/2015,New York City,Madison Square Garden,0,0,0
29,12/31/2015,New York City,Madison Square Garden,0,0,0

In [32]:
money_dfs_2016 = money_dfs[18]
money_dfs_2016['Gross'] = money_dfs_2016['Gross'].str.replace('$', '')

money_dfs_2016_split = money_dfs_2016['Attendance'].str.split('/', expand=True)
money_dfs_2016['Attendance'] = money_dfs_2016_split[0]
money_dfs_2016['Capacity'] = money_dfs_2016_split[1]

desired_column_order = ['Date (2016)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2016_reordered = money_dfs_2016[desired_column_order]
money_dfs_2016 = money_dfs_2016_reordered

money_dfs_2016['City'] = money_dfs_2016['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2016)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2016['Date (2016)'] = money_dfs_2016['Date (2016)'].apply(convert_date)

money_dfs_2016 = money_dfs_2016.drop(0)
money_dfs_2016 = money_dfs_2016.drop(3)
money_dfs_2016 = money_dfs_2016.drop(7)
money_dfs_2016 = money_dfs_2016.drop(31)
money_dfs_2016 = money_dfs_2016.drop(45)
money_dfs_2016 = money_dfs_2016.drop(50)
money_dfs_2016 = money_dfs_2016.reset_index(drop=True)

money_dfs_2016 = money_dfs_2016.rename(columns={'Date (2016)': 'Date'})

money_dfs_2016 = money_dfs_2016.fillna(0)

money_dfs[18] = money_dfs_2016

money_dfs[18]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\609123327.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2016['Gross'] = money_dfs_2016['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\609123327.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2016['City'] = money_dfs_2016['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\609123327.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2016['Date (2016)'] = money_dfs_2016['Date (2016)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,01/01/2016,New York City,Madison Square Garden,0,0,0
1,01/02/2016,New York City,Madison Square Garden,0,0,0
2,01/15/2016,Playa del Carmen,Barcel Maya Beach,0,0,0
3,01/16/2016,Playa del Carmen,Barcel Maya Beach,0,0,0
4,01/17/2016,Playa del Carmen,Barcel Maya Beach,0,0,0
5,06/22/2016,Saint Paul,Xcel Energy Center,0,0,0
6,06/24/2016,Chicago,Wrigley Field,"83,588","84,356","4,761,063"
7,06/25/2016,Chicago,Wrigley Field,"83,588","84,356","4,761,063"
8,06/26/2016,Noblesville,Klipsch Music Center,"17,865","24,369","738,703"
9,06/28/2016,Philadelphia,Mann Center for the Performing Arts,"24,852","25,160","1,374,580"
10,06/29/2016,Philadelphia,Mann Center for the Performing Arts,"24,852","25,160","1,374,580"
11,07/01/2016,Saratoga Springs,Saratoga Performing Arts Center,"60,838","75,531","2,496,548"
12,07/02/2016,Saratoga Springs,Saratoga Performing Arts Center,"60,838","75,531","2,496,548"
13,07/03/2016,Saratoga Springs,Saratoga Performing Arts Center,"60,838","75,531","2,496,548"
14,07/06/2016,Portland,Cross Insurance Arena,"8,004","8,026","488,244"
15,07/08/2016,Mansfield,Xfinity Center,"19,824","19,897","983,352"
16,07/09/2016,Hartford,Xfinity Theatre,"21,877","24,759","811,652"
17,07/10/2016,Syracuse,Lakeview Amphitheater,"16,550","19,870","707,290"
18,07/15/2016,George,The Gorge Amphitheatre,"43,002","44,000","1,908,669"
19,07/16/2016,George,The Gorge Amphitheatre,"43,002","44,000","1,908,669"
20,07/18/2016,San Francisco,Bill Graham Civic Auditorium,"26,265","26,265","1,707,355"
21,07/19/2016,San Francisco,Bill Graham Civic Auditorium,"26,265","26,265","1,707,355"
22,07/20/2016,San Francisco,Bill Graham Civic Auditorium,"26,265","26,265","1,707,355"
23,07/22/2016,Inglewood,The Forum,"12,138","14,577","704,040"
24,07/23/2016,Chula Vista,Sleep Train Amphitheatre,"9,789","19,291","440,030"
25,09/02/2016,Commerce City,Dick's Sporting Goods Park,"69,936","81,000","4,031,536"
26,09/03/2016,Commerce City,Dick's Sporting Goods Park,"69,936","81,000","4,031,536"
27,09/04/2016,Commerce City,Dick's Sporting Goods Park,"69,936","81,000","4,031,536"
28,10/14/2016,North Charleston,North Charleston Coliseum,"22,546","23,272","1,465,490"
29,10/15/2016,North Charleston,North Charleston Coliseum,"22,546","23,272","1,465,490"
30,10/16/2016,Jacksonville,Jacksonville Veterans Memorial Arena,"9,329","12,570","593,885"
31,10/18/2016,Nashville,Ascend Amphitheater,"13,714","13,714","711,550"
32,10/19/2016,Nashville,Ascend Amphitheater,"13,714","13,714","711,550"
33,10/21/2016,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"25,965","26,000","1,469,785"
34,10/22/2016,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"25,965","26,000","1,469,785"
35,10/24/2016,Grand Prairie,Verizon Theatre at Grand Prairie,"9,711","13,362","631,215"
36,10/25/2016,Grand Prairie,Verizon Theatre at Grand Prairie,"9,711","13,362","631,215"
37,10/28/2016,Las Vegas,MGM Grand Garden Arena,"63,222","63,222","4,076,085"
38,10/29/2016,Las Vegas,MGM Grand Garden Arena,"63,222","63,222","4,076,085"
39,10/30/2016,Las Vegas,MGM Grand Garden Arena,"63,222","63,222","4,076,085"
40,10/31/2016,Las Vegas,MGM Grand Garden Arena,"63,222","63,222","4,076,085"
41,12/28/2016,New York City,Madison Square Garden,"76,566","76,566","5,510,582"
42,12/29/2016,New York City,Madison Square Garden,"76,566","76,566","5,510,582"
43,12/30/2016,New York City,Madison Square Garden,"76,566","76,566","5,510,582"
44,12/31/2016,New York City,Madison Square Garden,"76,566","76,566","5,510,582"

In [33]:
money_dfs_2017 = money_dfs[19]
money_dfs_2017['Gross'] = money_dfs_2017['Gross'].str.replace('$', '')

money_dfs_2017_split = money_dfs_2017['Attendance'].str.split('/', expand=True)
money_dfs_2017['Attendance'] = money_dfs_2017_split[0]
money_dfs_2017['Capacity'] = money_dfs_2017_split[1]

desired_column_order = ['Date (2017)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2017_reordered = money_dfs_2017[desired_column_order]
money_dfs_2017 = money_dfs_2017_reordered

money_dfs_2017['City'] = money_dfs_2017['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2017)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2017['Date (2017)'] = money_dfs_2017['Date (2017)'].apply(convert_date)

money_dfs_2017 = money_dfs_2017.drop(0)
money_dfs_2017 = money_dfs_2017.drop(4)
money_dfs_2017 = money_dfs_2017.drop(10)
money_dfs_2017 = money_dfs_2017.drop(24)
money_dfs_2017 = money_dfs_2017.drop(28)
money_dfs_2017 = money_dfs_2017.drop(33)
money_dfs_2017 = money_dfs_2017.reset_index(drop=True)

money_dfs_2017 = money_dfs_2017.rename(columns={'Date (2017)': 'Date'})

money_dfs_2017 = money_dfs_2017.fillna(0)

money_dfs[19] = money_dfs_2017

money_dfs[19]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2407960907.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2017['Gross'] = money_dfs_2017['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2407960907.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2017['City'] = money_dfs_2017['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2407960907.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2017['Date (2017)'] = money_dfs_2017['Date (2017)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,01/13/2017,Playa del Carmen,Barcel Maya Beach,0,0,0
1,01/14/2017,Playa del Carmen,Barcel Maya Beach,0,0,0
2,01/15/2017,Playa del Carmen,Barcel Maya Beach,0,0,0
3,07/14/2017,Chicago,Huntington Bank Pavilion at Northerly Island,"49,817","78,174","2,306,566"
4,07/15/2017,Chicago,Huntington Bank Pavilion at Northerly Island,"49,817","78,174","2,306,566"
5,07/16/2017,Chicago,Huntington Bank Pavilion at Northerly Island,"49,817","78,174","2,306,566"
6,07/18/2017,Fairborn,Wright State University Nutter Center,"11,266","11,295","679,471"
7,07/19/2017,Pittsburgh,Petersen Events Center,"10,375","12,224","562,947"
8,07/21/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
9,07/22/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
10,07/23/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
11,07/25/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
12,07/26/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
13,07/28/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
14,07/29/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
15,07/30/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
16,08/01/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
17,08/02/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
18,08/04/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
19,08/05/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
20,08/06/2017,New York City,Madison Square Garden,"227,385","236,278","15,041,405"
21,09/01/2017,Commerce City,Dick's Sporting Goods Park,0,0,0
22,09/02/2017,Commerce City,Dick's Sporting Goods Park,0,0,0
23,09/03/2017,Commerce City,Dick's Sporting Goods Park,0,0,0
24,12/28/2017,New York City,Madison Square Garden,"76,598","76,598","5,930,356"
25,12/29/2017,New York City,Madison Square Garden,"76,598","76,598","5,930,356"
26,12/30/2017,New York City,Madison Square Garden,"76,598","76,598","5,930,356"
27,12/31/2017,New York City,Madison Square Garden,"76,598","76,598","5,930,356"

In [34]:
money_dfs_2018 = money_dfs[20]
money_dfs_2018['Gross'] = money_dfs_2018['Gross'].str.replace('$', '')

money_dfs_2018_split = money_dfs_2018['Attendance'].str.split('/', expand=True)
money_dfs_2018['Attendance'] = money_dfs_2018_split[0]
money_dfs_2018['Capacity'] = money_dfs_2018_split[1]

desired_column_order = ['Date (2018)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2018_reordered = money_dfs_2018[desired_column_order]
money_dfs_2018 = money_dfs_2018_reordered

money_dfs_2018['City'] = money_dfs_2018['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2018)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2018['Date (2018)'] = money_dfs_2018['Date (2018)'].apply(convert_date)

money_dfs_2018 = money_dfs_2018.drop(0)
money_dfs_2018 = money_dfs_2018.drop(25)
money_dfs_2018 = money_dfs_2018.drop(40)
money_dfs_2018 = money_dfs_2018.drop(45)
money_dfs_2018 = money_dfs_2018.reset_index(drop=True)

money_dfs_2018 = money_dfs_2018.rename(columns={'Date (2018)': 'Date'})

money_dfs_2018 = money_dfs_2018.fillna(0)

money_dfs[20] = money_dfs_2018

money_dfs[20]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1214103852.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2018['Gross'] = money_dfs_2018['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1214103852.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2018['City'] = money_dfs_2018['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\1214103852.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2018['Date (2018)'] = money_dfs_2018['Date (2018)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,07/17/2018,Stateline,Lake Tahoe Outdoor Arena,"17,150","17,150","1,269,027"
1,07/18/2018,Stateline,Lake Tahoe Outdoor Arena,"17,150","17,150","1,269,027"
2,07/20/2018,George,The Gorge Amphitheatre,0,0,0
3,07/21/2018,George,The Gorge Amphitheatre,0,0,0
4,07/22/2018,George,The Gorge Amphitheatre,0,0,0
5,07/24/2018,San Francisco,Bill Graham Civic Auditorium,"17,507","17,507","1,399,840"
6,07/25/2018,San Francisco,Bill Graham Civic Auditorium,"17,507","17,507","1,399,840"
7,07/27/2018,Inglewood,The Forum,"23,482","23,482","1,642,872"
8,07/28/2018,Inglewood,The Forum,"23,482","23,482","1,642,872"
9,07/31/2018,Austin,Austin360 Amphitheater,0,0,0
10,08/03/2018,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"38,922","38,922","2,081,865"
11,08/04/2018,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"38,922","38,922","2,081,865"
12,08/05/2018,Alpharetta,Verizon Wireless Amphitheatre at Encore Park,"38,922","38,922","2,081,865"
13,08/07/2018,Camden,BB&T Pavilion,"35,064","39,941","1,711,072"
14,08/08/2018,Camden,BB&T Pavilion,"35,064","39,941","1,711,072"
15,08/10/2018,Raleigh,Coastal Credit Union Music Park,0,0,0
16,08/11/2018,Columbia,Merriweather Post Pavilion,0,0,0
17,08/12/2018,Columbia,Merriweather Post Pavilion,0,0,0
18,08/17/2018,Watkins Glen,Watkins Glen International,0,0,0
19,08/18/2018,Watkins Glen,Watkins Glen International,0,0,0
20,08/19/2018,Watkins Glen,Watkins Glen International,0,0,0
21,08/31/2018,Commerce City,Dick's Sporting Goods Park,0,0,0
22,09/01/2018,Commerce City,Dick's Sporting Goods Park,0,0,0
23,09/02/2018,Commerce City,Dick's Sporting Goods Park,0,0,0
24,10/16/2018,Albany,Times Union Center,"27,170","27,170","1,917,380"
25,10/17/2018,Albany,Times Union Center,"27,170","27,170","1,917,380"
26,10/19/2018,Hampton,Hampton Coliseum,0,0,0
27,10/20/2018,Hampton,Hampton Coliseum,0,0,0
28,10/21/2018,Hampton,Hampton Coliseum,0,0,0
29,10/23/2018,Nashville,Ascend Amphitheater,0,0,0
30,10/24/2018,Nashville,Ascend Amphitheater,0,0,0
31,10/26/2018,Rosemont,Allstate Arena,0,0,0
32,10/27/2018,Rosemont,Allstate Arena,0,0,0
33,10/28/2018,Rosemont,Allstate Arena,0,0,0
34,10/31/2018,Las Vegas,MGM Grand Garden Arena,"58,840","62,745","4,506,580"
35,11/01/2018,Las Vegas,MGM Grand Garden Arena,"58,840","62,745","4,506,580"
36,11/02/2018,Las Vegas,MGM Grand Garden Arena,"58,840","62,745","4,506,580"
37,11/03/2018,Las Vegas,MGM Grand Garden Arena,"58,840","62,745","4,506,580"
38,12/28/2018,New York City,Madison Square Garden,"76,085","76,085","6,332,513"
39,12/29/2018,New York City,Madison Square Garden,"76,085","76,085","6,332,513"
40,12/30/2018,New York City,Madison Square Garden,"76,085","76,085","6,332,513"
41,12/31/2018,New York City,Madison Square Garden,"76,085","76,085","6,332,513"

In [35]:
money_dfs_2019 = money_dfs[21]
money_dfs_2019['Gross'] = money_dfs_2019['Gross'].str.replace('$', '')

money_dfs_2019_split = money_dfs_2019['Attendance'].str.split('/', expand=True)
money_dfs_2019['Attendance'] = money_dfs_2019_split[0]
money_dfs_2019['Capacity'] = money_dfs_2019_split[1]

desired_column_order = ['Date (2019)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2019_reordered = money_dfs_2019[desired_column_order]
money_dfs_2019 = money_dfs_2019_reordered

money_dfs_2019['City'] = money_dfs_2019['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2019)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2019['Date (2019)'] = money_dfs_2019['Date (2019)'].apply(convert_date)

money_dfs_2019 = money_dfs_2019.drop(0)
money_dfs_2019 = money_dfs_2019.drop(4)
money_dfs_2019 = money_dfs_2019.drop(31)
money_dfs_2019 = money_dfs_2019.drop(39)
money_dfs_2019 = money_dfs_2019.drop(44)
money_dfs_2019 = money_dfs_2019.reset_index(drop=True)

money_dfs_2019 = money_dfs_2019.rename(columns={'Date (2019)': 'Date'})

money_dfs_2019 = money_dfs_2019.fillna(0)

money_dfs[21] = money_dfs_2019

money_dfs[21]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3425707543.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2019['Gross'] = money_dfs_2019['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3425707543.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2019['City'] = money_dfs_2019['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3425707543.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2019['Date (2019)'] = money_dfs_2019['Date (2019)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,02/21/2019,Playa del Carmen,Barcel Maya Beach,0,0,0
1,02/22/2019,Playa del Carmen,Barcel Maya Beach,0,0,0
2,02/23/2019,Playa del Carmen,Barcel Maya Beach,0,0,0
3,06/11/2019,St. Louis,Chaifetz Arena,"17,464","20,601","1,215,751"
4,06/12/2019,St. Louis,Chaifetz Arena,"17,464","20,601","1,215,751"
5,06/14/2019,Manchester,Bonnaroo Music and Arts Festival,0,0,0
6,06/16/2019,Manchester,Bonnaroo Music and Arts Festival,0,0,0
7,06/18/2019,Toronto,Budweiser Stage,0,0,0
8,06/19/2019,Cuyahoga Falls,Blossom Music Center,0,0,0
9,06/21/2019,Charlotte,PNC Music Pavilion,0,0,0
10,06/22/2019,Columbia,Merriweather Post Pavilion,0,0,0
11,06/23/2019,Columbia,Merriweather Post Pavilion,0,0,0
12,06/25/2019,Bangor,Darling's Waterfront Pavilion,"29,708","29,708","1,988,488"
13,06/26/2019,Bangor,Darling's Waterfront Pavilion,"29,708","29,708","1,988,488"
14,06/28/2019,Camden,BB&T Pavilion,"52,383","63,036","3,251,326"
15,06/29/2019,Camden,BB&T Pavilion,"52,383","63,036","3,251,326"
16,06/30/2019,Camden,BB&T Pavilion,"52,383","63,036","3,251,326"
17,07/02/2019,Saratoga Springs,Saratoga Performing Arts Center,"35,878","50,165","2,037,814"
18,07/03/2019,Saratoga Springs,Saratoga Performing Arts Center,"35,878","50,165","2,037,814"
19,07/05/2019,Boston,Fenway Park,"65,459","69,940","4,891,124"
20,07/06/2019,Boston,Fenway Park,"65,459","69,940","4,891,124"
21,07/09/2019,Uncasville,Mohegan Sun Arena,"18,620","18,620","1,452,360"
22,07/10/2019,Uncasville,Mohegan Sun Arena,"18,620","18,620","1,452,360"
23,07/12/2019,East Troy,Alpine Valley Music Theatre,"54,183","107,266","3,322,634"
24,07/13/2019,East Troy,Alpine Valley Music Theatre,"54,183","107,266","3,322,634"
25,07/14/2019,East Troy,Alpine Valley Music Theatre,"54,183","107,266","3,322,634"
26,08/30/2019,Commerce City,Dick's Sporting Goods Park,"70,574","70,574","5,638,350"
27,08/31/2019,Commerce City,Dick's Sporting Goods Park,"70,574","70,574","5,638,350"
28,09/01/2019,Commerce City,Dick's Sporting Goods Park,"70,574","70,574","5,638,350"
29,11/29/2019,Providence,Dunkin' Donuts Center,0,0,0
30,11/30/2019,Providence,Dunkin' Donuts Center,0,0,0
31,12/01/2019,Uniondale,Nassau Coliseum,"15,451","15,503","1,492,481"
32,12/04/2019,Pittsburgh,Petersen Events Center,0,0,0
33,12/06/2019,North Charleston,North Charleston Coliseum,0,0,0
34,12/07/2019,North Charleston,North Charleston Coliseum,0,0,0
35,12/08/2019,North Charleston,North Charleston Coliseum,0,0,0
36,12/28/2019,New York City,Madison Square Garden,"76,079","76,079","6,712,920"
37,12/29/2019,New York City,Madison Square Garden,"76,079","76,079","6,712,920"
38,12/30/2019,New York City,Madison Square Garden,"76,079","76,079","6,712,920"
39,12/31/2019,New York City,Madison Square Garden,"76,079","76,079","6,712,920"

In [36]:
money_dfs_2020 = money_dfs[22]

desired_column_order = ['Date (2020)', 'City', 'Venue', 'Attendance', 'Gross']
money_dfs_2020_reordered = money_dfs_2020[desired_column_order]
money_dfs_2020 = money_dfs_2020_reordered

money_dfs_2020['City'] = money_dfs_2020['City'].str.replace(', Mexico', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2020)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2020['Date (2020)'] = money_dfs_2020['Date (2020)'].apply(convert_date)

money_dfs_2020 = money_dfs_2020.drop(0)
money_dfs_2020 = money_dfs_2020.reset_index(drop=True)

money_dfs_2020 = money_dfs_2020.rename(columns={'Date (2020)': 'Date'})

money_dfs_2020['Capacity'] = [None, None, None, None]

money_dfs_2020 = money_dfs_2020.fillna(0)

money_dfs[22] = money_dfs_2020

money_dfs[22]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3591227815.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2020['City'] = money_dfs_2020['City'].str.replace(', Mexico', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\3591227815.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2020['Date (2020)'] = money_dfs_2020['Date (2020)'].apply(convert_date)

         Date    City               Venue  Attendance  Gross  Capacity
0  02/20/2020  Cancn  Moon Palace Resort           0      0         0
1  02/21/2020  Cancn  Moon Palace Resort           0      0         0
2  02/22/2020  Cancn  Moon Palace Resort           0      0         0
3  02/23/2020  Cancn  Moon Palace Resort           0      0         0

In [37]:
money_dfs_2021 = money_dfs[23]
money_dfs_2021['Gross'] = money_dfs_2021['Gross'].str.replace('$', '')

money_dfs_2021_split = money_dfs_2021['Attendance'].str.split('/', expand=True)
money_dfs_2021['Attendance'] = money_dfs_2021_split[0]
money_dfs_2021['Capacity'] = money_dfs_2021_split[1]

desired_column_order = ['Date (2021)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2021_reordered = money_dfs_2021[desired_column_order]
money_dfs_2021 = money_dfs_2021_reordered

money_dfs_2021['City'] = money_dfs_2021['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2021)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2021['Date (2021)'] = money_dfs_2021['Date (2021)'].apply(convert_date)

money_dfs_2021 = money_dfs_2021.drop(0)
money_dfs_2021 = money_dfs_2021.drop(23)
money_dfs_2021 = money_dfs_2021.drop(37)
money_dfs_2021 = money_dfs_2021.drop(39)
money_dfs_2021 = money_dfs_2021.reset_index(drop=True)

money_dfs_2021 = money_dfs_2021.rename(columns={'Date (2021)': 'Date'})

money_dfs_2021 = money_dfs_2021.fillna(0)

money_dfs[23] = money_dfs_2021

money_dfs[23]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2943666944.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2021['Gross'] = money_dfs_2021['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2943666944.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2021['City'] = money_dfs_2021['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2943666944.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2021['Date (2021)'] = money_dfs_2021['Date (2021)'].apply(convert_date)

,Date,City,Venue,Attendance,Capacity,Gross
0,07/28/2021,Rogers,Walmart Arkansas Music Pavilion,0,0,0
1,07/30/2021,Pelham,Oak Mountain Amphitheatre,0,0,0
2,07/31/2021,Alpharetta,Ameris Bank Amphitheatre,"25,924","25,924","1,908,306"
3,08/01/2021,Alpharetta,Ameris Bank Amphitheatre,"25,924","25,924","1,908,306"
4,08/03/2021,Nashville,Ascend Amphitheater,0,0,0
5,08/04/2021,Nashville,Ascend Amphitheater,0,0,0
6,08/06/2021,Noblesville,Ruoff Music Center,"70,100","74,652","4,036,443"
7,08/07/2021,Noblesville,Ruoff Music Center,"70,100","74,652","4,036,443"
8,08/08/2021,Noblesville,Ruoff Music Center,"70,100","74,652","4,036,443"
9,08/10/2021,Hershey,Hersheypark Stadium,"41,703","54,678","3,385,967"
10,08/11/2021,Hershey,Hersheypark Stadium,"41,703","54,678","3,385,967"
11,08/13/2021,Atlantic City,Atlantic City Beach,"100,821","100,821","8,440,509"
12,08/14/2021,Atlantic City,Atlantic City Beach,"100,821","100,821","8,440,509"
13,08/15/2021,Atlantic City,Atlantic City Beach,"100,821","100,821","8,440,509"
14,08/27/2021,George,The Gorge Amphitheatre,"48,912","66,000","3,328,122"
15,08/28/2021,George,The Gorge Amphitheatre,"48,912","66,000","3,328,122"
16,08/29/2021,George,The Gorge Amphitheatre,"48,912","66,000","3,328,122"
17,08/31/2021,Mountain View,Shoreline Amphitheatre,"15,152","24,000","1,409,647"
18,09/01/2021,Mountain View,Shoreline Amphitheatre,"15,152","24,000","1,409,647"
19,09/03/2021,Commerce City,Dick's Sporting Goods Park,"70,088","70,088","6,109,051"
20,09/04/2021,Commerce City,Dick's Sporting Goods Park,"70,088","70,088","6,109,051"
21,09/05/2021,Commerce City,Dick's Sporting Goods Park,"70,088","70,088","6,109,051"
22,10/15/2021,Sacramento,Golden 1 Center,0,0,0
23,10/16/2021,San Francisco,Chase Center,"25,857","25,857","2,297,933"
24,10/17/2021,San Francisco,Chase Center,"25,857","25,857","2,297,933"
25,10/19/2021,Eugene,Matthew Knight Arena,"19,294","29,294","1,588,902"
26,10/20/2021,Eugene,Matthew Knight Arena,"19,294","29,294","1,588,902"
27,10/22/2021,Phoenix,Ak-Chin Pavilion,0,0,0
28,10/23/2021,Chula Vista,North Island Credit Union Amphitheatre,0,0,0
29,10/24/2021,Inglewood,The Forum,0,0,0
30,10/26/2021,Santa Barbara,Santa Barbara Bowl,0,0,0
31,10/28/2021,Las Vegas,MGM Grand Garden Arena,"62,851","62,851","5,426,815"
32,10/29/2021,Las Vegas,MGM Grand Garden Arena,"62,851","62,851","5,426,815"
33,10/30/2021,Las Vegas,MGM Grand Garden Arena,"62,851","62,851","5,426,815"
34,10/31/2021,Las Vegas,MGM Grand Garden Arena,"62,851","62,851","5,426,815"
35,12/31/2021,Lititz,Rock Lititz,0,0,0

In [38]:
money_dfs_2022 = money_dfs[24]
money_dfs_2022['Gross'] = money_dfs_2022['Gross'].str.replace('$', '')

money_dfs_2022_split = money_dfs_2022['Attendance'].str.split('/', expand=True)
money_dfs_2022['Attendance'] = money_dfs_2022_split[0]
money_dfs_2022['Capacity'] = money_dfs_2022_split[1]

desired_column_order = ['Date (2022)', 'City', 'Venue', 'Attendance', 'Capacity', 'Gross']
money_dfs_2022_reordered = money_dfs_2022[desired_column_order]
money_dfs_2022 = money_dfs_2022_reordered

money_dfs_2022['City'] = money_dfs_2022['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2022)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2022['Date (2022)'] = money_dfs_2022['Date (2022)'].apply(convert_date)

money_dfs_2022 = money_dfs_2022.drop(15)
money_dfs_2022 = money_dfs_2022.reset_index(drop=True)

money_dfs_2022 = money_dfs_2022.rename(columns={'Date (2022)': 'Date'})

money_dfs_2022 = money_dfs_2022.fillna(0)

money_dfs[24] = money_dfs_2022

money_dfs[24]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2683252363.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2022['Gross'] = money_dfs_2022['Gross'].str.replace('$', '')

,Date,City,Venue,Attendance,Capacity,Gross
0,02/24/2022,"Cancn, Mexico",Moon Palace Resort,"2,423","2,423","17,710,239"
1,02/25/2022,"Cancn, Mexico",Moon Palace Resort,"2,423","2,423","17,710,239"
2,02/26/2022,"Cancn, Mexico",Moon Palace Resort,"2,423","2,423","17,710,239"
3,02/27/2022,"Cancn, Mexico",Moon Palace Resort,"2,423","2,423","17,710,239"
4,04/20/2022,New York City,Madison Square Garden,"76,470","76,470","8,787,041"
5,04/21/2022,New York City,Madison Square Garden,"76,470","76,470","8,787,041"
6,04/22/2022,New York City,Madison Square Garden,"76,470","76,470","8,787,041"
7,04/23/2022,New York City,Madison Square Garden,"76,470","76,470","8,787,041"
8,08/05/2022,Atlantic City,Atlantic City Beach,"48,577","105,000","4,728,475"
9,08/06/2022,Atlantic City,Atlantic City Beach,"48,577","105,000","4,728,475"
10,08/07/2022,Atlantic City,Atlantic City Beach,"48,577","105,000","4,728,475"
11,09/01/2022,Commerce City,Dick's Sporting Goods Park,"93,478","94,000","8,565,888"
12,09/02/2022,Commerce City,Dick's Sporting Goods Park,"93,478","94,000","8,565,888"
13,09/03/2022,Commerce City,Dick's Sporting Goods Park,"93,478","94,000","8,565,888"
14,09/04/2022,Commerce City,Dick's Sporting Goods Park,"93,478","94,000","8,565,888"

In [39]:
money_dfs_2023 = money_dfs[25]
money_dfs_2023['Gross'] = money_dfs_2023['Gross'].str.replace('$', '')

#money_dfs_2023_split = money_dfs_2023['Attendance'].str.split('/', expand=True)
#money_dfs_2023['Attendance'] = money_dfs_2023_split[0]
#money_dfs_2023['Capacity'] = money_dfs_2023_split[1]

desired_column_order = ['Date (2023)', 'City', 'Venue', 'Attendance', 'Gross']
money_dfs_2023_reordered = money_dfs_2023[desired_column_order]
money_dfs_2023 = money_dfs_2023_reordered

money_dfs_2023['City'] = money_dfs_2023['City'].str.replace(', United States', '')

def convert_date(date_str):
    try:
        date_obj = pd.to_datetime(date_str, format='%B %d', errors='coerce')
        if not pd.isnull(date_obj):
            date_obj = date_obj.replace(year=2023)
            return date_obj.strftime('%m/%d/%Y')
    except ValueError:
        pass
    return date_str
    
money_dfs_2023['Date (2023)'] = money_dfs_2023['Date (2023)'].apply(convert_date)

money_dfs_2023 = money_dfs_2023.drop(0)
money_dfs_2023 = money_dfs_2023.drop(5)
money_dfs_2023 = money_dfs_2023.drop(14)
money_dfs_2023 = money_dfs_2023.drop(38)
money_dfs_2023 = money_dfs_2023.drop(39)
money_dfs_2023 = money_dfs_2023.reset_index(drop=True)

money_dfs_2023 = money_dfs_2023.rename(columns={'Date (2023)': 'Date'})

money_dfs_2023['Capacity'] = [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None,
                              None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

money_dfs_2023 = money_dfs_2023.fillna(0)

money_dfs[25] = money_dfs_2023

money_dfs[25]

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\4109340421.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money_dfs_2023['Gross'] = money_dfs_2023['Gross'].str.replace('$', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\4109340421.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2023['City'] = money_dfs_2023['City'].str.replace(', United States', '')
C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\4109340421.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  money_dfs_2023['Date (2023)'] = money_dfs_2023['Date (2023)'].apply(convert_date)

,Date,City,Venue,Attendance,Gross,Capacity
0,02/23/2023,Cancn,Moon Palace Resort,0,0,0
1,02/24/2023,Cancn,Moon Palace Resort,0,0,0
2,02/25/2023,Cancn,Moon Palace Resort,0,0,0
3,02/26/2023,Cancn,Moon Palace Resort,0,0,0
4,04/14/2023,Seattle,Climate Pledge Arena,0,0,0
5,04/15/2023,Seattle,Climate Pledge Arena,0,0,0
6,04/17/2023,Berkeley,William Randolph Hearst Greek Theatre,0,0,0
7,04/18/2023,Berkeley,William Randolph Hearst Greek Theatre,0,0,0
8,04/19/2023,Berkeley,William Randolph Hearst Greek Theatre,0,0,0
9,04/21/2023,Los Angeles,Hollywood Bowl,0,0,0
10,04/22/2023,Los Angeles,Hollywood Bowl,0,0,0
11,04/23/2023,Los Angeles,Hollywood Bowl,0,0,0
12,07/11/2023,Huntsville,Orion Amphitheater,0,0,0
13,07/12/2023,Huntsville,Orion Amphitheater,0,0,0
14,07/14/2023,Alpharetta,Ameris Bank Amphitheatre,0,0,0
15,07/15/2023,Alpharetta,Ameris Bank Amphitheatre,0,0,0
16,07/16/2023,Alpharetta,Ameris Bank Amphitheatre,0,0,0
17,07/18/2023,Wilmington,Live Oak Bank Pavilion,0,0,0
18,07/19/2023,Wilmington,Live Oak Bank Pavilion,0,0,0
19,07/21/2023,Burgettstown,The Pavilion at Star Lake,0,0,0
20,07/22/2023,Burgettstown,The Pavilion at Star Lake,0,0,0
21,07/23/2023,Syracuse,Lakeview Amphitheater,0,0,0
22,07/25/2023,Philadelphia,Mann Center for the Performing Arts,0,0,0
23,07/26/2023,Philadelphia,Mann Center for the Performing Arts,0,0,0
24,07/28/2023,New York City,Madison Square Garden,0,0,0
25,07/29/2023,New York City,Madison Square Garden,0,0,0
26,07/30/2023,New York City,Madison Square Garden,0,0,0
27,08/01/2023,New York City,Madison Square Garden,0,0,0
28,08/02/2023,New York City,Madison Square Garden,0,0,0
29,08/04/2023,New York City,Madison Square Garden,0,0,0
30,08/05/2023,New York City,Madison Square Garden,0,0,0
31,08/31/2023,Commerce City,Dick's Sporting Goods Park,0,0,0
32,09/01/2023,Commerce City,Dick's Sporting Goods Park,0,0,0
33,09/02/2023,Commerce City,Dick's Sporting Goods Park,0,0,0
34,09/03/2023,Commerce City,Dick's Sporting Goods Park,0,0,0

In [40]:
phish_concert_data = money_dfs

In [41]:
phish_concert_data[0]

         Date       City                 Venue Attendance Capacity    Gross
0  05/29/1993    Salinas   Laguna Seca Raceway    20,000    20,000  504,082
1  05/30/1993    Salinas   Laguna Seca Raceway    20,000    20,000  504,082
2  12/31/1993  Worcester  Centrum in Worcester    14,581    14,581  320,220

## Part 3: Load
#### Loading data to a database

In [42]:
#Create directory for CSV files and loop through data to write CSV files
if not os.path.exists("output"):
    os.makedirs("output")

for i, year_data in enumerate(phish_concert_data):
    year = 1993 + i 
    df = pd.DataFrame(year_data)
    csv_filename = f'phish_{year}.csv'
    file_path = os.path.join("output", csv_filename)
    
    
    df.to_csv(file_path, index=False)

In [43]:
#Create directory to store renamed CSV files and loop through mis-named files
if not os.path.exists("output//renamed"):
    os.makedirs("output//renamed")

start_year = 2001
end_year = 2003

for year in range(start_year, end_year + 1):
    current_filename = os.path.join("output", f'phish_{year}.csv')
    new_filename = os.path.join("output//renamed", f'phish_{year + 1}.csv')
    
    os.rename(current_filename, new_filename)

In [44]:
#Repeat process of renaming files that are incorrectly named 
start_year = 2004
end_year = 2018

for year in range(start_year, end_year + 1):
    current_filename = os.path.join("output", f'phish_{year}.csv')
    new_filename = os.path.join("output//renamed", f'phish_{year + 5}.csv')
    
    os.rename(current_filename, new_filename)

In [45]:
#Transfer renamed files back to output folder
source = 'output//renamed'
destination = 'output' 

files_to_copy = os.listdir(source)

for file_name in files_to_copy:
    source_file_path = os.path.join(source, file_name)
    destination_file_path = os.path.join(destination, file_name)
    
    shutil.copy(source_file_path, destination_file_path)

In [46]:
#Write each CSV file into SQLite table
database_path = "phish.sqlite"
Path(database_path).touch()

conn = sqlite3.connect(database_path)
c = conn.cursor()

for filename in os.listdir("output"):
    if filename.endswith(".csv"):
        table_name = os.path.splitext(filename)[0]

        c.execute(f'''CREATE TABLE IF NOT EXISTS {table_name} (
                        Date DATETIME,
                        City TEXT,
                        Venue TEXT,
                        Attendance INT,
                        Capacity INT,
                        Gross INT
                     )''')

        csv_data = pd.read_csv(os.path.join("output", filename))
        csv_data.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [47]:
#Check table creation
database_path = "phish.sqlite"
Path(database_path).touch()

conn = sqlite3.connect(database_path)

df = pd.read_sql("SELECT * FROM phish_1993", conn)
print(df.head())

conn.close()

         Date       City                 Venue Attendance Capacity    Gross
0  05/29/1993    Salinas   Laguna Seca Raceway    20,000    20,000  504,082
1  05/30/1993    Salinas   Laguna Seca Raceway    20,000    20,000  504,082
2  12/31/1993  Worcester  Centrum in Worcester    14,581    14,581  320,220

In [48]:
#Create db in PostgreSQL 
sql_engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')
if not sql_engine.has_table('phish_1993'):
    conn = sql_engine.connect()
    conn.execute(f"commit")
    conn.execute(f"CREATE DATABASE phish_db")
    conn.close()

C:\Users\alecb\AppData\Local\Temp\ipykernel_38960\2032852683.py:3: SADeprecationWarning: The Engine.has_table() method is deprecated and will be removed in a future release.  Please refer to Inspector.has_table(). (deprecated since: 1.4)
  if not sql_engine.has_table('phish_1993'):

In [49]:
# Write CSV files into PostgreSQL
sql_engine = create_engine('postgresql://postgres:postgres@localhost:5432/phish_db')
for filename in os.listdir("output"):
    if filename.endswith(".csv"):
        df = pd.read_csv(f"output/{filename}")
        
        df['Attendance'] = df['Attendance'].astype(str).str.replace(',', '').astype(int)
        df['Capacity'] = df['Capacity'].astype(str).str.replace(',', '').astype(int)
        df['Gross'] = df['Gross'].astype(str).str.replace(',', '').astype(int)

        df.to_sql(
        name= os.path.splitext(filename)[0],
        con=sql_engine,
        if_exists='replace',
        index=False,
        dtype={
        "Date": DateTime,
        "City": Text,
        "Venue": Text,
        "Attendance": Float,
        "Capacity": Float,
        "Gross": Float
              }
                )

In [50]:
# Check table creation
query = "SELECT * FROM phish_1993"

df = pd.read_sql_query(query, sql_engine)
df.head()

        Date       City                 Venue  Attendance  Capacity     Gross
0 1993-05-29    Salinas   Laguna Seca Raceway     20000.0   20000.0  504082.0
1 1993-05-30    Salinas   Laguna Seca Raceway     20000.0   20000.0  504082.0
2 1993-12-31  Worcester  Centrum in Worcester     14581.0   14581.0  320220.0