In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from datetime import datetime
import pandas as pd

In [2]:
browser = Browser('chrome')

In [3]:
# Pull in setlist data

url = 'https://phish.net/setlists/phish/'
browser.visit(url)
html = browser.html
phish_soup = soup(html, 'html.parser')

In [4]:
# Pull in concert attendance and box office data

url2 = 'https://en.wikipedia.org/wiki/Phish_concert_tours_and_festivals#Box_office_score_data'
browser.visit(url2)
html2 = browser.html
tour_soup = soup(html2, 'html.parser')

In [51]:
# pd.read_html for the win!

table_dfs = pd.read_html('https://en.wikipedia.org/wiki/Phish_concert_tours_and_festivals#Box_office_score_data')
money_dfs = []

for table_df in table_dfs:
    if table_df.columns[-1] == 'Gross':
        money_dfs.append(table_df)
money_dfs

[   Date (1993)                      City                 Venue  \
 0       May 29    Salinas, United States   Laguna Seca Raceway
 1       May 30    Salinas, United States   Laguna Seca Raceway
 2  December 31  Worcester, United States  Centrum in Worcester
 3        TOTAL                     TOTAL                 TOTAL

                Attendance     Gross
 0         20,000 / 20,000  $504,082
 1         20,000 / 20,000  $504,082
 2         14,581 / 14,581  $320,220
 3  34,581 / 34,581 (100%)  $824,302  ,
    Date (1994)                          City  \
 0  December 28   Philadelphia, United States
 1  December 29     Providence, United States
 2  December 30  New York City, United States
 3  December 31         Boston, United States
 4        TOTAL                         TOTAL

                                            Venue              Attendance  \
 0  Philadelphia Convention Hall and Civic Center         10,325 / 10,325
 1                        Providence Civic Center         14,174 / 14,174
 2                          Madison Square Garden         18,977 / 18,977
 3                                  Boston Garden         15,135 / 15,135
 4                                          TOTAL  58,611 / 58,611 (100%)

         Gross
 0    $201,338
 1    $272,532
 2    $426,978
 3    $355,673
 4  $1,256,521  ,
     Date (1995)                          City  \
 0       June 23       Stanhope, United States
 1       June 28        Wantagh, United States
 2       June 29        Wantagh, United States
 3    October 31       Rosemont, United States
 4    November 9        Atlanta, United States
 5   November 10        Atlanta, United States
 6   November 11        Atlanta, United States
 7   November 24     Pittsburgh, United States
 8   November 25        Hampton, United States
 9    December 4        Amherst, United States
 10   December 5        Amherst, United States
 11  December 15   Philadelphia, United States
 12  December 28      Worcester, United States
 13  December 29      Worcester, United States
 14  December 30  New York City, United States
 15  December 31  New York City, United States
 16        TOTAL                         TOTAL

                                  Venue               Attendance       Gross
 0                     Waterloo Village          16,643 / 16,643    $377,400
 1             Jones Beach Amphitheater          22,110 / 22,110    $487,475
 2             Jones Beach Amphitheater          22,110 / 22,110    $487,475
 3                     Rosemont Horizon          18,311 / 18,311    $411,998
 4                          Fox Theatre          13,547 / 13,547    $304,808
 5                          Fox Theatre          13,547 / 13,547    $304,808
 6                          Fox Theatre          13,547 / 13,547    $304,808
 7                          Civic Arena          10,669 / 18,742    $213,380
 8                     Hampton Coliseum          12,903 / 12,903    $260,976
 9   William D. Mullins Memorial Center          21,018 / 21,018    $420,360
 10  William D. Mullins Memorial Center          21,018 / 21,018    $420,360
 11                 CoreStates Spectrum          18,220 / 18,220    $412,200
 12                Centrum in Worcester          28,924 / 28,924    $679,714
 13                Centrum in Worcester          28,924 / 28,924    $679,714
 14               Madison Square Garden          36,504 / 36,504  $1,004,275
 15               Madison Square Garden          36,504 / 36,504  $1,004,275
 16                               TOTAL  198,849 / 206,922 (96%)  $4,572,586  ,
     Date (1996)                          City                       Venue  \
 0      August 4       Morrison, United States      Red Rocks Amphitheatre
 1      August 5       Morrison, United States      Red Rocks Amphitheatre
 2      August 6       Morrison, United States      Red Rocks Amphitheatre
 3      August 7       Morrison, United States      Red Rocks Amphitheatre
 4     August 12    Noblesville, United States     Deer Creek Music Center
 5     August 13    Noblesville, United States     Deer Creek Music Center
 6     August 14        Hershey, United States         Hersheypark Stadium
 7     August 16    Plattsburgh, United States  Plattsburgh Air Force Base
 8     August 17    Plattsburgh, United States  Plattsburgh Air Force Base
 9    October 21  New York City, United States       Madison Square Garden
 10   October 22  New York City, United States       Madison Square Garden
 11   October 26      Charlotte, United States          Charlotte Coliseum
 12   November 9   Auburn Hills, United States  The Palace of Auburn Hills
 13  November 15      St. Louis, United States                 Kiel Center
 14  December 28   Philadelphia, United States         CoreStates Spectrum
 15  December 29   Philadelphia, United States         CoreStates Spectrum
 16  December 30         Boston, United States                 FleetCenter
 17  December 31         Boston, United States                 FleetCenter
 18        TOTAL                         TOTAL                       TOTAL

                  Attendance       Gross
 0           36,962 / 36,962    $924,050
 1           36,962 / 36,962    $924,050
 2           36,962 / 36,962    $924,050
 3           36,962 / 36,962    $924,050
 4           42,158 / 42,158    $851,865
 5           42,158 / 42,158    $851,865
 6           25,100 / 25,100    $619,100
 7         135,267 / 135,267  $3,310,245
 8         135,267 / 135,267  $3,310,245
 9           34,204 / 34,204    $857,744
 10          34,204 / 34,204    $857,744
 11          17,580 / 17,580    $391,996
 12          18,359 / 18,359    $414,770
 13          14,492 / 18,000    $286,374
 14          36,648 / 36,648    $917,604
 15          36,648 / 36,648    $917,604
 16          36,968 / 36,968  $1,016,860
 17          36,968 / 36,968  $1,016,860
 18  397,738 / 401,246 (99%)  $9,590,608  ,
     Date (1998)                           City  \
 0       July 21  Virginia Beach, United States
 1      August 2          George, United States
 2      August 3          George, United States
 3      August 9       East Troy, United States
 4     August 10     Noblesville, United States
 5     August 11     Noblesville, United States
 6     August 16       Limestone, United States
 7     August 17       Limestone, United States
 8   December 29   New York City, United States
 9   December 30   New York City, United States
 10  December 31   New York City, United States
 11        TOTAL                          TOTAL

                               Venue               Attendance       Gross
 0   GTE Virginia Beach Amphitheatre          20,074 / 20,074    $486,775
 1            The Gorge Amphitheatre          37,871 / 40,000  $1,023,129
 2            The Gorge Amphitheatre          37,871 / 40,000  $1,023,129
 3       Alpine Valley Music Theatre          34,642 / 34,642    $866,202
 4           Deer Creek Music Center          41,782 / 41,782  $1,044,762
 5           Deer Creek Music Center          41,782 / 41,782  $1,044,762
 6             Loring Air Force Base        123,176 / 123,176  $4,337,184
 7             Loring Air Force Base        123,176 / 123,176  $4,337,184
 8             Madison Square Garden          56,704 / 56,704  $1,583,886
 9             Madison Square Garden          56,704 / 56,704  $1,583,886
 10            Madison Square Garden          56,704 / 56,704  $1,583,886
 11                            TOTAL  314,249 / 316,378 (99%)  $9,341,938  ,
     Date (1998)                          City  \
 0       April 2      Uniondale, United States
 1       April 3      Uniondale, United States
 2       July 16         George, United States
 3       July 17         George, United States
 4      August 2    Noblesville, United States
 5      August 3    Noblesville, United States
 6     August 15      Limestone, United States
 7     August 16      Limestone, United States
 8    October 30      Las Vegas, United States
 9    October 31      Las Vegas, United States
 10   November 4         Denver, United States
 11   November 6        Madison, United States
 12   November 7        Chicago, United States
 13   November 8        Chicago, United States
 14   November 9        Chicago, United States
 15  November 20        Hampton, United States
 16  November 21        Hampton, United States
 17  December 28  New York City, United States
 18  December 29  New York City, United States
 19  December 30  New York City, United States
 20  December 31  New York City, United States
 21        TOTAL                         TOTAL

                                 Venue               Attendance        Gross
 0   Nassau Veterans Memorial Coliseum          34,348 / 34,348     $824,328
 1   Nassau Veterans Memorial Coliseum          34,348 / 34,348     $824,328
 2              The Gorge Amphitheatre          31,544 / 40,000     $854,900
 3              The Gorge Amphitheatre          31,544 / 40,000     $854,900
 4             Deer Creek Music Center          42,158 / 42,158   $1,092,811
 5             Deer Creek Music Center          42,158 / 42,158   $1,092,811
 6               Loring Air Force Base        105,836 / 105,836   $4,012,715
 7               Loring Air Force Base        105,836 / 105,836   $4,012,715
 8                Thomas & Mack Center          35,635 / 35,635     $935,485
 9                Thomas & Mack Center          35,635 / 35,635     $935,485
 10             McNichols Sports Arena          13,826 / 13,826     $327,916
 11                        Kohl Center          16,906 / 16,906     $363,889
 12                       UIC Pavilion          30,161 / 30,161     $754,723
 13                       UIC Pavilion          30,161 / 30,161     $754,723
 14                       UIC Pavilion          30,161 / 30,161     $754,723
 15                   Hampton Coliseum          27,335 / 27,335     $642,658
 16                   Hampton Coliseum          27,335 / 27,335     $642,658
 17              Madison Square Garden          73,824 / 73,824   $2,047,576
 18              Madison Square Garden          73,824 / 73,824   $2,047,576
 19              Madison Square Garden          73,824 / 73,824   $2,047,576
 20              Madison Square Garden          73,824 / 73,824   $2,047,576
 21                              TOTAL  411,573 / 420,029 (98%)  $11,857,001  ,
      Date (1999)                         City  \
 0         July 3       Atlanta, United States
 1         July 4       Atlanta, United States
 2        July 17        Volney, United States
 3        July 18        Volney, United States
 4        July 25   Noblesville, United States
 5        July 26   Noblesville, United States
 6   September 10        George, United States
 7   September 11        George, United States
 8      October 3      Rosemont, United States
 9      October 7     Uniondale, United States
 10     October 8     Uniondale, United States
 11     October 9        Albany, United States
 12    October 10        Albany, United States
 13    December 7      Portland, United States
 14    December 8      Portland, United States
 15   December 10  Philadelphia, United States
 16   December 11  Philadelphia, United States
 17   December 17       Hampton, United States
 18   December 18       Hampton, United States
 19   December 30     Clewiston, United States
 20   December 31     Clewiston, United States
 21         TOTAL                        TOTAL

                                 Venue               Attendance        Gross
 0               Lakewood Amphitheatre          37,822 / 37,822   $1,057,431
 1               Lakewood Amphitheatre          37,822 / 37,822   $1,057,431
 2               Oswego County Airport        101,172 / 101,172   $3,839,730
 3               Oswego County Airport        101,172 / 101,172   $3,839,730
 4             Deer Creek Music Center          41,553 / 41,553   $1,101,155
 5             Deer Creek Music Center          41,553 / 41,553   $1,101,155
 6              The Gorge Amphitheatre          29,383 / 40,000     $849,713
 7              The Gorge Amphitheatre          29,383 / 40,000     $849,713
 8                      Allstate Arena          17,963 / 17,963     $495,065
 9   Nassau Veterans Memorial Coliseum          30,977 / 36,016     $772,341
 10  Nassau Veterans Memorial Coliseum          30,977 / 36,016     $772,341
 11                        Pepsi Arena          33,842 / 33,842     $807,730
 12                        Pepsi Arena          33,842 / 33,842     $807,730
 13     Cumberland County Civic Center          17,437 / 17,437     $462,081
 14     Cumberland County Civic Center          17,437 / 17,437     $462,081
 15               First Union Spectrum          36,843 / 36,843     $976,412
 16               First Union Spectrum          36,843 / 36,843     $976,412
 17                   Hampton Coliseum          27,600 / 27,600     $676,325
 18                   Hampton Coliseum          27,600 / 27,600     $676,325
 19     Big Cypress Indian Reservation          75,000 / 75,000  $11,639,550
 20     Big Cypress Indian Reservation          75,000 / 75,000  $11,639,550
 21                              TOTAL  449,592 / 465,248 (97%)  $22,677,533  ,
     Date (2000)                        City                    Venue  \
 0       July 10  Noblesville, United States  Deer Creek Music Center
 1       July 11  Noblesville, United States  Deer Creek Music Center
 2       July 12  Noblesville, United States  Deer Creek Music Center
 3  September 15      Hershey, United States      Hersheypark Stadium
 4  September 22     Rosemont, United States           Allstate Arena
 5  September 23     Rosemont, United States           Allstate Arena
 6  September 29    Las Vegas, United States     Thomas & Mack Center
 7  September 30    Las Vegas, United States     Thomas & Mack Center
 8         TOTAL                       TOTAL                    TOTAL

                 Attendance       Gross
 0          74,212 / 74,212  $2,040,888
 1          74,212 / 74,212  $2,040,888
 2          74,212 / 74,212  $2,040,888
 3          30,034 / 30,034    $847,505
 4          36,447 / 36,447  $1,011,582
 5          36,447 / 36,447  $1,011,582
 6          35,585 / 36,500    $978,588
 7          35,585 / 36,500    $978,588
 8  176,278 / 177,193 (99%)  $4,878,563  ,
                     Date (2002)                          City  \
 0  2002/2003 New Year's Eve Run  2002/2003 New Year's Eve Run
 1                   December 31                 New York City

                         Country                         Venue  \
 0  2002/2003 New Year's Eve Run  2002/2003 New Year's Eve Run
 1                 United States         Madison Square Garden

                      Attendance                         Gross
 0  2002/2003 New Year's Eve Run  2002/2003 New Year's Eve Run
 1               18,966 / 18,966                      $824,940  ,
                                           Date (2003)  \
 0   2002/2003 New Year's Eve Run (continued from 2...
 1                                           January 2
 2                                           January 3
 3                                           January 4
 4                                         Winter 2003
 5                                         February 14
 6                                         February 15
 7                                         February 16
 8                                         February 18
 9                                         February 20
 10                                        February 21
 11                                        February 22
 12                                        February 24
 13                                        February 25
 14                                        February 26
 15                                        February 28
 16                                            March 1
 17                                        Summer 2003
 18                                             July 7
 19                                             July 8
 20                                             July 9
 21                                            July 10
 22                                            July 12
 23                                            July 13
 24                                            July 15
 25                                            July 17
 26                                            July 18
 27                                            July 19
 28                                            July 21
 29                                            July 22
 30                                            July 23
 31                                            July 25
 32                                            July 26
 33                                            July 27
 34                                            July 29
 35                                            July 30
 36                                            July 31
 37                                                 It
 38                                           August 2
 39                                           August 3
 40                          2003 20th Anniversary Run
 41                                        November 28
 42                                        November 29
 43                                         December 1
 44                                         December 2
 45                            2003 New Year's Eve Run
 46                                        December 28
 47                                        December 29
 48                                        December 30
 49                                        December 31
 50                                              TOTAL

                                                  City  \
 0   2002/2003 New Year's Eve Run (continued from 2...
 1                                             Hampton
 2                                             Hampton
 3                                             Hampton
 4                                         Winter 2003
 5                                           Inglewood
 6                                           Las Vegas
 7                                           Las Vegas
 8                                              Denver
 9                                            Rosemont
 10                                         Cincinnati
 11                                         Cincinnati
 12                                    East Rutherford
 13                                       Philadelphia
 14                                          Worcester
 15                                          Uniondale
 16                                         Greensboro
 17                                        Summer 2003
 18                                            Phoenix
 19                                        Chula Vista
 20                                      Mountain View
 21                                      Mountain View
 22                                             George
 23                                             George
 24                                   West Valley City
 25                                     Bonner Springs
 26                                          East Troy
 27                                          East Troy
 28                                        Noblesville
 29                                        Noblesville
 30                                        Noblesville
 31                                          Charlotte
 32                                            Atlanta
 33                                            Raleigh
 34                                       Burgettstown
 35                                             Camden
 36                                             Camden
 37                                                 It
 38                                          Limestone

In [56]:
money_dfs[0]

,Date (1993),City,Venue,Attendance,Gross
0,May 29,"Salinas, United States",Laguna Seca Raceway,"20,000 / 20,000","$504,082"
1,May 30,"Salinas, United States",Laguna Seca Raceway,"20,000 / 20,000","$504,082"
2,December 31,"Worcester, United States",Centrum in Worcester,"14,581 / 14,581","$320,220"
3,TOTAL,TOTAL,TOTAL,"34,581 / 34,581 (100%)","$824,302"

Now we begin scraping the setlist data!

In [ ]:
dates = phish_soup.find_all('span', class_='setlist-date')
dates

date_strings = [date.text[-11:] for date in dates]

cleaned_date_strings = [date.strip() for date in date_strings]
cleaned_date_strings[0:5]

In [ ]:
dates

In [ ]:
venues = phish_soup.find_all('div', class_='setlist-venue')
venues

venue_strings = [venue.text.strip() for venue in venues]
venue_strings[0:5]

In [ ]:
locations = phish_soup.find_all('div', class_='setlist-location')
locations

locations = [location.text.strip() for location in locations]

cities = [location.split(',')[0] for location in locations]
states = [location[-2:] for location in locations]

print(cities[0:5])
print(states[0:5])

In [ ]:
set_list_notes = phish_soup.find_all('div', class_='setlist-notes')
set_list_notes

In [ ]:
phish_p1_df = pd.DataFrame({
    'Date': cleaned_date_strings,
    'Venue': venue_strings,
    'City': cities,
    'State': states
})
phish_p1_df[-5:]